﻿<ion-view title="Nexx Garage">
    <!--<ion-header-bar class="bar-positive" align-title="left">
      <h1 class="title">Ionic Geofence</h1>
      <div class="buttons pull-right">
        <button class="button pull-right button-icon icon ion-plus" ng-click="createNew()"></button>
        <button class="button pull-right button-icon icon ion-more" ng-click="more()"></button>
      </div>
    </ion-header-bar>-->
    <!--<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>-->

    <ion-content class="has-header">
        <div class="list">
            <div class="item item-divider">
                About Device
            </div>

            <mc-messages></mc-messages>

            <div class="list  list-inset">
                <ul>
                    <li>App Version: {{appVersion}}<br /><br /></li>
                    <li ng-repeat="firmwareInfo in devicesFirmware track by $index">
                        <ul>
                            <li>Device Name: {{firmwareInfo.deviceName}}</li>
                            <li>Firmware Version: {{firmwareInfo.firmwareVersion}}</li>
                            <li>Last Firmware Update: {{firmwareInfo.lastFirewareUpdateDate}}</li>
                            <li>Signal Strength: {{firmwareInfo.signalStrength}}</li>
                            <li>
                                <div ng-switch="firmwareInfo.firmwareStatus">
                                    <div ng-switch-when="updating">
                                        <i class="fa fa-spinner fa-spin" style="color:cornflowerblue"></i>
                                        <font style="color:blue; font-weight:bold; font-style:italic">Updating Firmware</font>
                                    </div>
                                    <div ng-switch-when="new">
                                        <font style="color:red; font-weight:bold">New Firmware Is Available</font> <br /> (<a ng-click='installFirmware(firmwareInfo.vendorDeviceId)'>Update Firmware</a>)
                                    </div>
                                    <div ng-switch-when="current">
                                        <font style="color:blue; font-weight:bold">Firmware Is Up To Date</font>
                                    </div>
                                </div>
                                <br />
                            </li>
                        </ul>
                        
                    </li>
                    
                    <li>
                        <br />
                        <button class="col button button-block button-positive" ng-click="sendDeviceLog()">Send troubleshooting log</button>
                        <!--<br />
                        <br />
                        <button class="col button button-block button-positive" ng-click="sendGeoFenceLog()">Send Auto Open troubleshooting log</button>
                        (Android need grant Storage permission: Settings -> Device -> Applications -> Application manager -> Nexx Garage -> Permission)-->
                    </li>
                </ul>
            </div>
        </div>
</ion-content>
</ion-view>
