
<ion-view title="Activity Log">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <div class="list">
            Total Records: {{activies.length}}
            <!--<div class="right-inner-addon ">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" id="query" ng-model="query" placeholder="Enter channel name" />
            </div>-->

            <!--Sort By: <select ng-model="sortBy">
                <option value="date">Date</option>
                <option value="action">Action</option>
            </select>-->
            <ul id="activies_ul">
                <li ng-repeat="activity in activies | groupBy:'group'">
                    

                    <li class="item-divider">Date: {{activity.group}}</li>
                    <li class="item" ng-repeat="player in value">
                        Date: {{activity.activityDate | date:'MMM d, y h:mm:ss a'}}<br />
                        Action: {{activity.activityType}}<br />
                    </li>
                               
                </li>
            </ul>
            <!--<span>Number of channels: {{channels.length}}</span>-->
        </div>

        <!--<label class="item">
            <button class="button button-block button-positive" ng-click="doSaveChannelSettings()">Save Settings</button>
        </label>-->
    </ion-content>
</ion-view>

