<ion-view title="Nexx Garage">
  <!--<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>-->
  <ion-content delegate-handle="mainContent" class="has-header">




      <div class="list  list-inset" ng-show="(wifiList).length > 0">
          Select your home WiFi network and enter the WiFi password to configure you Nexx Garage device Wifi.
          <!--<div style="text-align: center;">

              <br>
              Detecting WiFi
              <br>
              <ion-spinner class="spinner-assertive"></ion-spinner>
              <br>
          </div>-->

          <ion-radio ng-repeat="wifi in wifiList"
                     ng-value="wifi.ssid"
                     ng-model="config.ssId">
              <h2 class="ion-wifi">
                  {{wifi.ssid}}
              </h2>
          </ion-radio>
      <!--</div>

          <div class="list">-->

          <br />

          <span class="input-label"><b>Home Wifi Network</b></span>
          <label class="item item-input nexx-input">
              <input type="text" id="wifiNetwork" name="wifiNetwork" ng-model="config.ssId" maxlength="50" autocomplete="off" autocorrect="off" autocapitalize="none">
              <!--<i class="icon ion-eye placeholder-icon nexx-eye" on-hold="showPassword()" on-release="hidePassword()"></i>-->
          </label>

              <span class="input-label"><b>WiFi Password</b></span>
              <label class="item item-input nexx-input">
                  <input type="text" id="wifiPassword" name="wifiPassword" ng-model="config.wifiPassword" maxlength="50" placeholder="Your Wifi Password" autocomplete="off" autocorrect="off" autocapitalize="none">
                  <!--<i class="icon ion-eye placeholder-icon nexx-eye" on-hold="showPassword()" on-release="hidePassword()"></i>-->
              </label>

              <div ng-show="false">
                  <span class="input-label">Location NickName</span>
                  <label class="item item-input item-floating-label">

                      <input type="text" id="locationNickName" name="locationNickName" ng-model="config.locationNickName" maxlength="50" placeholder="Example: Chris house garage" required>
                  </label>
              </div>
              <br />
              <button class="col button button-block button-positive" ng-click="saveDeviceConfig()">Save Configuration</button>
              <br />
              <button class="col button button-block button-balanced" ng-click="getList()">Refresh WiFi List</button>

          </div>

      <div class="list  list-inset" ng-show="showRetry" id="retryRegister2Cloud">
          There was an issue trying to register your device to the cloud service.  This issue is typically caused by a slow reconnect to your home WiFi network.  Please make sure your phone is connected back to your WiFi network and tap the "Retry" button to register your device to your cloud account.
          <br />
          <button class="col button button-block button-balanced" ng-click="retryAddDevice()">Retry</button>
      </div>

      <div class="list  list-inset" ng-show="registeredDeviceCount == 0 && (wifiList).length == 0 && !showRetry">
          Before configuring your device you must leave this app <b>(Do Not Logout)</b> and go to the WiFi settings then connect to the network named <b>NexxGarage-xxxxxx</b>.  After you have connected to that network, return back to this app to continue configuring your device.  Retrieving the WiFi network list could take up to 3 minutes.<!--If a list of WiFi networks does not display, tap on the "Refresh WiFi List" button.-->
          <!--<br />
          <button class="col button button-block button-balanced" ng-click="getList()">Refresh WiFi List</button>-->

          <div style="text-align: center" ng-hide="(wifiList).length > 0 ">
            <div ng-show="wifiNetworkIssue">
                <h3 class="text-center;" style="color:red; font-size:12pt">There was an issue trying to retrieve the WiFi network list.  Please check if your phone is connected to the NexxGarage WiFi network.  If you are still having issues retrieving your WiFi list than you can enter your home WiFi network below and tap on the "Save Configuration" button.</h3>

                <br />
                <span class="input-label"><b>Wifi Network</b></span>
                <label class="item item-input nexx-input">
                    <input type="text" id="wifiNetwork" name="wifiNetwork" ng-model="config.ssId" maxlength="50" autocomplete="off" autocorrect="off" placeholder="Home WiFi Network" autocapitalize="none">
                    <!--<i class="icon ion-eye placeholder-icon nexx-eye" on-hold="showPassword()" on-release="hidePassword()"></i>-->
                </label>

                <span class="input-label"><b>WiFi Password</b></span>
                <label class="item item-input nexx-input">
                    <input type="text" id="wifiPassword" name="wifiPassword" ng-model="config.wifiPassword" maxlength="50" placeholder="Your Wifi Password" autocomplete="off" autocorrect="off" autocapitalize="none">
                    <!--<i class="icon ion-eye placeholder-icon nexx-eye" on-hold="showPassword()" on-release="hidePassword()"></i>-->
                </label>

                <br />
                <button class="col button button-block button-positive" ng-click="saveDeviceConfig()">Save Configuration</button>
                <br />
                <button class="col button button-block button-balanced" ng-click="getList()">Refresh WiFi List</button>
                <br />
            </div>

            <div ng-hide="wifiNetworkIssue">
                <h3 class="text-center"><code>Detecting WiFi Network</code></h3>
                <countdown autostart="true" time="210" colors="flat-colors-very-wide"
                  callback="countdownFinished()"></countdown>
            </div>

        </div>
      </div>


      <div class="list  list-inset" ng-show="registeredDeviceCount > 0">
          Tap on the Reset button below to reconfigure your Nexx Garage device WiFi
          <br />
          <button class="col button button-block button-assertive" ng-click="resetDevice()">Reset Device</button>
          <br />
          <button class="col button button-block button-positive" ng-click="updateDeviceLocation()">Update Device Location</button>
          <!--<br />
          <button class="col button button-block button-positive" ng-click="sendDeviceInfo()">Send device info for troubleshooting</button>-->
      </div>

</ion-content>
</ion-view>
