  <ion-view view-title="signupPage" hide-nav-bar="true">

  <!--
    <ion-header-bar align-title="center" class="bar">
    <div class="buttons cn">
      <a  href="#/signin" class="button">Cancel</a>
    </div>

    <div class="buttons fr">
      <button class="button" ng-click="doRegister()">Register</button>
    </div>
  </ion-header-bar>
  -->

        <div class="header-cls">
            <div class="buttons cn">
               <a  href="#/signin" class="button">Cancel</a>
           </div>
           <div class="buttons fr">
              <button class="button" ng-click="doRegister()">Register</button>
           </div>
        </div>

     <ion-content class="has-header">

          <mc-messages></mc-messages>

         <form id="register">

          <div class="form-field">
             <span class="block">
           <input type="text" id="firstName" name="firstName" ng-model="registration.firstName" placeholder="Your first name" required maxlength="50"
            class="errorGroup">
            </span>

          </div>

          <div class="form-field">
             <span class="block">
               <input type="text" id="lastName" name="lastName" ng-model="registration.lastName" placeholder="Your last name" required maxlength="50" class="errorGroup">
             </span>
          </div>


          <span class="block">

           <div class="select-field">
             <select ng-model="values" ng-change="ngfunction(values)">
                <option value="null">...Select TimeZone</option>
                <option ng-repeat="x in timeZones" value="{{x.name}}">
                    {{x.name}}</option>
              </select>
           </div>

           <input name="selectedTimeZone" id="selectedTimeZone"
             style="visibility:hidden; height:10px;" class="errorGroup"/>

           </span>

          <div class="form-field">

             <!--
                 <span class="block">

                     <label class = "item item-input item-select item-light"
                        style="border: 0px !important;">
                      <div class = "input-label">
                            TimeZone
                       </div>

                   <select ng-model="values" ng-change="ngfunction(values)">
                     <option selected value="">Select TimeZone</option>
                     <option ng-repeat="x in timeZones" value="{{x.name}}">
                      {{x.name}}</option>
                   </select>

                    </label>


                           {{registration.timeZone.name}}
                          <button class="button-icon ion-more" style="color:gray" modal-select="" ng-model="registration.timeZone" options="timeZones" modal-title="Select your time zone" hide-reset="true">
                              Choose time zone
                              <div class="option">
                                  {{option.name}}
                              </div>
                          </button>

                          <input name="selectedTimeZone" id="selectedTimeZone"
                            style="visibility:hidden; height:10px;" class="errorGroup"/>
                      </span>

                      -->

                      <!--
                  <select ng-model="data.timezone">
                  <option value="1">Choose Time Zone</option>
                  <option value="2">value 2</option>
                  <option value="3">value 3</option>
                  </select>
                      -->

          </div>

         <div class="form-field" style="margin-top:0px !important">

            <span class="block">
            <input type="text" id="email" name="email" ng-model="registration.email" placeholder="Your email" required maxlength="32" class="errorGroup" autocapitalize="none">
             </span>

         </div>

         <div class="form-field">

            <span class="block">
           <input type="password" id="password" name="password" class="accountPassword errorGroup" ng-model="registration.password" placeholder="Your password" required minlength="6" maxlength="20">
            </span>

         </div>

           <div class="form-field">

              <span class="block">
                  <input type="password" id="confirm" name="confirm" ng-model="registration.confirm" placeholder="Confirm password" required maxlength="20" class="errorGroup">
              </span>

            </div>

           <div class="checkbox-wrapper">

            <p class="check">
              <input type="checkbox" ng-model="isTermsAccepted.checked" id="test3">
              <label for="test3"></label>
            </p>

             <span>Accept terms</span>

            </div>

            <p>By creating an account, you agree to all</p>

           <div class="term-condition">

               <a href="" ng-click="showTerms()">Terms of Service </a>
                  <span style="padding-left: 5px;padding-right: 5px;">&</span>
               <a href="" ng-click="showPrivacy()">Privacy Policy</a>

           </div>

       </form>

    </ion-content>

  </ion-view>
