﻿<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <button class="button button-cancel icon-left ion-close-circled" ng-click="hideUserAddEdit()">
            Cancel
        </button>
        <button class="button button-positive icon-left ion-checkmark" ng-click="saveUser()">
            Save
        </button>
    </ion-header-bar>
    <ion-content>
        <form id="userAccessAddEdit">
            <div class="list list-inset">
                <!--<label class="item item-input nexx-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input nexx-input">
                <input type="text" placeholder="Last Name">
            </label>-->
                <p ng-show="userAddEditModalType == 'ADD'">
                    <span class="block item item-input nexx-input">
                        <input id="email" name="email" type="text" placeholder="Guest Email Account" ng-model="userData.email" class="errorGroup" autocapitalize="none">
                    </span>
                    <span class="block item item-input nexx-input">
                        <input id="confirm" name="confirm" type="text" placeholder="Confirm Guest Email Account" ng-model="userData.confirm" class="errorGroup" autocapitalize="none">
                    </span>
                </p>

                <!--<span ng-show="userAddEditModalType == 'ADD'">
                    
                </span>-->
                <!--<p ng-show="userType == 'O'">-->
                <p ng-show="userType == 'O' || userAddEditModalType == 'ADD'">
                    <ion-checkbox ng-model="$parent.userData.grantAccess">Grant Access</ion-checkbox>
                    <ion-checkbox ng-model="$parent.userData.grantAutoOpen">Grant Auto Door Open</ion-checkbox>
                    <ion-checkbox ng-model="$parent.userData.grantViewActivityHistory">Grant View Activity History</ion-checkbox>
                </p>

                <div ng-show="userType == 'G'">
                    <ion-toggle ng-repeat="item in userData.userPreference"
                                ng-model="item.checked"
                                ng-checked="item.checked"
                                ng-show="item.ownerGrantAccess">
                        {{ item.text }}
                    </ion-toggle>
                </div>

                <br />
                <button class="col button button-block button-positive" ng-show="userData.grantAutoOpen" ng-hide="userType=='O' || userAddEditModalType == 'ADD'" ng-click="openDeviceLocationConfig()">Set Auto Open Distance</button>
                <br />
                <button class="col button button-block button-assertive" ng-click="deleteUser()" ng-hide="(userAddEditModalType == 'ADD')?true:false">Remove Access</button>

                <br /><br />
            </div>
        </form>
    </ion-content>
</ion-modal-view>