﻿<ion-view>

  <ion-header-bar align-title="center" class="bar header-green">

     <div class="buttons navigation-wrapper" ng-model="singleTog"
         ng-click="singleTog.clicked=!singleTog.clicked">

        <i class="ion-navicon-round button"></i>

        <ul class="navigation" ng-show="singleTog.clicked">
            <li><i class="ion-flash "></i><a href="">Actions</a> </li>
            <li><i class="ion-location "></i><a href="">Places</a> </li>
            <li><i class="ion-radio-waves "></i><a href="#/app/registeredDevices">Devices</a> </li>
            <li><i class="ion-ios-settings-strong "></i>
                 <a href="" ng-click="showSettings()">Global Settings</a> </li>
            <li><i class="ion-person"></i><a href="">Account</a> </li>
            <li><i class="ion-android-mail"></i><a href="" 
                 ng-click="openContactUsEmail()">Contact Us</a></li>
            <li><i class="icon ion-ios-people custom-icon" ></i>
                 <a href="#/app/deviceUserManager" >User Access</a> </li>
            <li><i class="ion-ios-help"></i><a href="" ng-click="showHelp()">Help</a> </li>
            <li><i class="ion-log-in"></i><a href="" ng-click="logOutIn()">Logout</a> </li>
        </ul>

      </div>

      <h1 class="title" >Nexx Device</h1>

  </ion-header-bar>


    <ion-content class="has-header" style="padding:0px;">

        <ion-refresher pulling-text="Retrieving User Access..."
                       on-refresh="doRefresh()">
        </ion-refresher>

         <div class="row">
                <div class="col col-75">
                    <div class="title nexx-title" style="text-align:left;margin-left:0px"><b>User Access</b></div>
                </div>

                <!--<div class="title" ><b>User Access</b></div>-->

                <div class="col">
                    <div class="title nexx-title"><a class="nexx-back" ng-disabled="(registeredDevicesCount == 0 || registeredDevicesCount == null)?true:false" ng-click="showUserAddEdit('ADD')" style="float: right;">
                       <img src="img/add.svg" alt="Add User Access" height="15" width="15"></a>
                    </div>
                </div>
            </div>

    
        <ion-list >

            <div class="item item-divider">
                <!--- Total Records: {{activities.length}}-->
                {{(deviceModel.locationNickName)?deviceModel.locationNickName + " device":""}}

                <button class="button-icon ion-more" modal-select="" on-select="onDeviceSelect(newValue, oldValue)" ng-model="deviceModel" options="registeredDevices" modal-title="Select a device" ng-show="(registeredDevices.length > 1)?true:false" hide-reset="true">
                    <div class="option">
                        {{option.locationNickName}}
                    </div>
                </button>

            </div>
            <!--<ul id="activies_ul">

                <li class="item" ng-repeat="user in userDevicesAccess">
                    Email: {{user.email}}<br />
                    VendorDeviceId: {{user.vendorDeviceId}}<br />
                    OwnerGrant: {{user.ownerGrant}}<br />
                    GuestAccept: {{user.guestAccept}}<br />
                </li>

            </ul>-->

            <div class="padding">
                <!--<p><b>Owner Device Name: {{deviceNickName}}</b></p>-->
                <p style="padding-left:7px;color:dimgray"><b>You Granted Access to Others</b></p>
                <div class="row item" ng-repeat="user in ownerDevicesAccess">
                    <div class="col col-75 nexx-user">
                        <div class="title" ng-click="showUserAddEdit('EDIT', 'O', '{{user.email}}', '{{user.userDeviceAccessId}}', '{{user.ownerGrant}}', '{{user.ownerGrantAutoDoorOpen}}', '{{user.ownerGrantViewActivityHistory}}', '{{user.autoDoorOpen}}', '{{user.doorOpenNotification}}', '{{user.doorOpenReminderNotification}}', '{{user.doorCloseNotification}}', '{{user.deviceId}}')">{{user.email}}
                        ({{ user.ownerGrant == true ? 'Granted' : 'Denied' }})
                        </div>
                    </div>

                    <!--<div class="col col-25 nexx-user" ng-show="(user.userType != 'O' && ((userName|lowercase) != (user.email|lowercase)) )?true:false">
                        <a href="" class="button button-block button-balanced" ng-click="showUserAddEdit('EDIT', '{{user.email}}', '{{user.userDeviceAccessId}}', '{{user.ownerGrant}}')">Edit</a>
                    </div>-->
                    <!--<div class="col col-25 nexx-user" ng-show="(user.userType != 'O' && ((userName|lowercase) != (user.email|lowercase)) )?true:false">
                        <a href="" class="button button-block button-assertive">Remove</a>
                    </div>-->
                </div>
                <br />
                <p style="padding-left:7px;color:dimgray"><b>Other's Granted Access To You</b></pstyle="padding-left:10px">
                <div ng-repeat="user in guestDevicesAccess">
                    <div class="row item">
                        <div class="col col-50 nexx-user title" style="color:darkgrey">
                            <div class="title" ng-click="showUserAddEdit('EDIT', 'G', '{{user.email}}', '{{user.userDeviceAccessId}}', '{{user.ownerGrant}}', '{{user.ownerGrantAutoDoorOpen}}', '{{user.ownerGrantViewActivityHistory}}', '{{user.autoDoorOpen}}', '{{user.doorOpenNotification}}', '{{user.doorOpenReminderNotification}}', '{{user.doorCloseNotification}}', '{{user.deviceId}}')">
                                {{user.deviceNickName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <br /><br /><br />
            <!--<div class="list  list-inset" >
                <button class="col button button-block button-positive" ng-disabled="(registeredDevicesCount == 0 || registeredDevicesCount == null)?true:false" ng-click="showUserAddEdit('ADD')" >Add User</button>
            </div>-->
        </ion-list>


    </ion-content>

    <div class="tabs tabs-icon-only nexx-tabs">

        <a class="tab-item" href="#/app/garageDoorControl"><i class="icon ion-home"></i></a>
        <a class="tab-item" ng-click="showSettings()"><i class="icon ion-ios-settings-strong"></i></a>
        <a class="tab-item" ><i class="icon ion-radio-waves"></i></a>
        <a class="tab-item" ><i class="icon ion-ios-book"></i></a>
        <a class="tab-item" ng-click="showHelp()"><i class="icon ion-help-circled"></i></a>

    </div>

    <!--<div class="bar bar-footer bar-stable">
      <div class="title"><a class="nexx-back" href="#/app/home"><img src="img/back-arrow.svg" alt="Back"></a></div>
    </div>-->
    
</ion-view>
