﻿<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <button class="button button-cancel icon-left ion-close-circled" ng-click="deviceEditModal.hide()">
            Cancel
        </button>
        <button class="button button-positive icon-left ion-checkmark" ng-click="saveDeviceInfo()">
            Save
        </button>
    </ion-header-bar>
    <ion-content>
        <form id="editDevice">
            <div class="list list-inset">
                
                <p>
                    Device Nickname
                    <span class="item item-input item-floating-label block">
                        <input type="text" id="locationNickName" name="locationNickName" ng-model="registerDeviceData.deviceNickName" minlength="5" maxlength="50" required>
                    </span>
                    <span class="block item item-input item-floating-label item item-input nexx-input">
                        {{registerDeviceData.number}}
                        <button class="button-icon ion-more" modal-select="" style="color:gray" on-select="deviceNumberSelect(newValue, oldValue)" ng-model="registerDeviceData.number" options="[1,2,3,4,5]" modal-title="" hide-reset="true">
                            Voice Assistant Number
                            <div class="option">
                                {{option}}
                            </div>
                        </button>
                        <input name="selectedTimeZone" id="selectedTimeZone" style="visibility:hidden" class="errorGroup" />
                    </span>
                </p>
                <br />
                <!--<ion-toggle ng-repeat="item in registerDeviceData.settings"
                            ng-model="item.checked"
                            ng-checked="item.checked"
                            >
                    {{ item.text }}
                </ion-toggle>-->

                <ion-toggle ng-model="registerDeviceData.settings[0].checked" ng-checked="registerDeviceData.settings[0].checked" ng-disabled="isDisabled">{{registerDeviceData.settings[0].text}}</ion-toggle>
                <ion-toggle ng-model="registerDeviceData.settings[1].checked" ng-checked="registerDeviceData.settings[1].checked" >{{registerDeviceData.settings[1].text}}</ion-toggle>
                <br />
                <button class="col button button-block button-positive" ng-click="updateDeviceLocation()">Update Device Location</button>
                <br />
                <button class="col button button-block button-positive" ng-click="openDeviceLocationConfig()">Set Auto Open Distance</button>
                <br />
                <button class="col button button-block button-assertive" ng-click="resetDevice()">Change WiFi Configuration</button>
                <br />
                <button class="col button button-block button-assertive" ng-click="deleteDevice()">Delete Device</button>
                
                <br />
                <br />
            </div>
        </form>
    </ion-content>
</ion-modal-view>