<ion-view cache-view="false">

  <ion-header-bar align-title="center" class="bar header-green">

     <div class="buttons navigation-wrapper" ng-model="singleTog"
         ng-click="singleTog.clicked=!singleTog.clicked">

        <i class="ion-navicon-round button"></i>

        <ul class="navigation" ng-show="singleTog.clicked">
            <li><i class="ion-flash "></i><a href="">Actions</a> </li>
            <li><i class="ion-location "></i><a href="">Places</a> </li>
            <li><i class="ion-radio-waves "></i><a href="#/app/registeredDevices">Devices</a> </li>
            <li><i class="ion-ios-settings-strong "></i>
                 <a href="" ng-click="showSettings()">Global Settings</a> </li>
            <li><i class="ion-person"></i><a href="">Account</a> </li>
            <li><i class="ion-android-mail"></i><a href="" 
                 ng-click="openContactUsEmail()">Contact Us</a></li>
            <li><i class="icon ion-ios-people custom-icon" ></i>
                 <a href="#/app/deviceUserManager" >User Access</a> </li>
            <li><i class="ion-ios-help"></i><a href="" ng-click="showHelp()">Help</a> </li>
            <li><i class="ion-log-in"></i><a href="" ng-click="logOutIn()">Logout</a> </li>
        </ul>

      </div>

      <h1 class="title" >Nexx Device</h1>

  </ion-header-bar>



    <ion-content ng-style="{'background-color':bgColor}" class="has-header">
        <ion-refresher pulling-text="Retrieving Garage Door Status..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <mc-messages></mc-messages>

        <div style="visibility:hidden">test</div>
        <!--<ul rn-carousel rn-carousel-controls class="image">
            <li>
                <div class="bar bar-stable"><h2 class="title nexx-carousel-title">Home</h2></div>

            </li>
            <li>
                <div class="bar bar-stable"><h2 class="title nexx-carousel-title">About</h2></div>

            </li>
            <li>
                <div class="bar bar-stable"><h2 class="title nexx-carousel-title">Contact</h2></div>

            </li>
        </ul>-->
                <!--<ul rn-carousel rn-carousel-buffered rn-carousel-indicator rn-carousel-control rn-carousel-controls class="image" style="margin-top:130px" >
                    <li ng-repeat="device in accessDevices">
                        <div ng-class="['box']" ng-cloak>
                            <div ng-class="['nexx-content', 'content', 'text-center']" ng-cloak>
                                <p>{{device.deviceNickName}} is currently : <b>{{(device.currentDoorState == 'Close')?'Closed':'Opened'}}</b></p>

                            </div>
                            <div ng-class="['item', 'item-image', 'nexx-image']" ng-cloak>

                                <div><img ng-class="{'logo-image': garageSignalComplete, 'logo-image-disable': !garageSignalComplete}" id="doorButtonControl" ng-click="activateSmartGate(device.deviceId, device.vendorDeviceId, device.currentDoorState)" ng-src="{{buttonImage || '//:0'}}" style="width:145px"></div>

                                <div ng-show="(controlButtonText!='Unknown')?true:false">(Tap to {{controlButtonText}})</div>
                                <div ng-show="(controlButtonText=='Unknown')?true:false">(Tap button to get door status)</div>
                                <br />
                                <div style="font-style:italic; color:cornflowerblue">{{garageActivityStatus}}</div>
                            </div>

                            <div ng-class="['nexx-content', 'content', 'text-center']" ng-cloak>
                                <div class="list  list-inset">{{lastUserActivity}}</div>

                            </div>
                        </div>

                    </li>
                </ul>-->

        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="image" style="margin-top:40px" >
            <ion-slide ng-repeat="device in accessDevices" ng-cloak >
                <div ng-class="['box']" ng-cloak >

                    <div ng-class="['nexx-content', 'content', 'text-center']" ng-cloak >
                        <p style="font-family:Verdana; font-size:18pt; color:dimgrey">{{device.deviceNickName}}</p> <p style="font-family:Verdana; font-size:10pt">Voice Assistant Number: {{device.number}}</p><div style="font-weight:bolder; font-size:18pt; font-family:Verdana" ng-style="{'color':(device.currentDoorState == 'Close')?'#51b366':'#ec2807'}">{{(device.currentDoorState == 'Close')?'CLOSED':'OPENED'}}</div>

                    </div>

                    <div ng-style="{'background-color':bgColor}" ng-class="['item', 'item-image', 'nexx-image']" ng-cloak>

                        <div><img ng-class="{'logo-image': garageSignalComplete, 'logo-image-disable': !garageSignalComplete}" id="doorButtonControl" ng-click="activateSmartGate(device.deviceId, device.vendorDeviceId, device.currentDoorState)" ng-src="{{buttonImage || '//:0'}}" style="width:145px"></div>

                        <div ng-show="(controlButtonText!='Unknown')?true:false">(Tap to {{controlButtonText}})</div>
                        <div ng-show="(controlButtonText=='Unknown')?true:false">(Tap button to get door status)</div>

                        <!--<div style="font-style:italic; color:cornflowerblue">{{garageActivityStatus}}</div>-->


                    </div>


                </div>

                <div ng-class="['nexx-content', 'content', 'text-center']" style="height:20px" ng-cloak>
                    <div class="list list-inset" style="font-family:Verdana;font-size:10pt" ng-style="{'background-color':bgColor}">
                        {{lastUserActivity}}
                    </div>

                </div>

                <br />
                <br />
                <br />
            </ion-slide>

        </ion-slide-box>

        <!--<ion-slide-box class="nexx-home-slider" >-->

        <!--</ion-slide>
        </ion-slide-box>-->
        <!--<div class="nexx-content nexx-time content text-center">
            <p>Current Time: {{currentDateTime}}</p>
        </div>-->

    </ion-content>



    <div class="tabs tabs-icon-only nexx-tabs">

        <a class="tab-item" ><i class="icon ion-ios-bolt"></i></a>
        <a class="tab-item" ><i class="icon ion-ios-location"></i></a>
        <a class="tab-item" href="#/app/activityLog"><i class="icon ion-radio-waves"></i></a>
        <a class="tab-item" ><i class="icon ion-ios-book"></i></a>
        <a class="tab-item" ng-click="showSettings()" href=""><i class="icon ion-ios-list-outline"></i></a>

    </div>

</ion-view>
