<ion-modal-view ng-controller="RegisteredDevicesCtrl">
    <ion-header-bar class="bar-stable">
        <button class="button button-cancel icon-left ion-close-circled" ng-click="closeDeviceLocationConfigModal()">
            Cancel
        </button>
        <button class="button button-positive icon-left ion-checkmark" ng-click="saveDeviceLocationConfig()">
            Save auto open distance
        </button>
    </ion-header-bar>

    <!--</ion-header-bar>-->
    <ion-content scroll="false">

        <!--<label class="item item-input">
            <input type="text" placeholder="Enter location name" ng-model="geofence.identifier" hide-keyboard-on-enter>
        </label>
        <div class="button-bar">
          <a class="button" ng-class="isTransitionOfType(TransitionType.ENTER) ? 'button-positive' : 'button-light'" ng-click="toggleWhenIgetCloser()">When I get close</a>
          <a class="button" ng-class="isTransitionOfType(TransitionType.EXIT) ? 'button-positive' : 'button-light'" ng-click="toggleWhenIamLeaving()">When I go away</a>
        </div>-->
        <div class="range" data-tap-disabled="true">
            on
            <input type="range" name="volume" min="10" max="150" ng-model="paths.circle.radius">
            {{ paths.circle.radius }} meters
        </div>
        <div style="width: 100%; position: absolute; top: 50px; bottom: 0px;" data-tap-disabled="true">
            <leaflet resizeable markers="markers" paths="paths" center="center" width="100%" height="100%" event-broadcast="events"></leaflet>
        </div>
    </ion-content>
</ion-modal-view>
