<ion-view title="Geofence details">
  <!--<ion-header-bar class="bar-positive" align-title="left">-->
    <div class="buttons pull-left">
      <button class="button button-icon" ui-sref="geofences">
        <i class="ion-chevron-left"></i>
      </button>
    </div>
    <ion-nav-buttons side="right">
        <label class="toggle toggle-balanced">
            <input type="checkbox" ng-click="onToggleEnabled()" ng-model="state.enabled">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </ion-nav-buttons>
  <!--</ion-header-bar>-->
  <ion-content scroll="false" class="has-header">
      <h1 class="title">Geofence Details</h1>
      <div class="buttons pull-right">
          <button class="button button-icon icon ion-checkmark" ng-click="save()"></button>
      </div>

    <label class="item item-input">
      <input type="text" placeholder="Enter notification text" ng-model="geofence.notification.text" hide-keyboard-on-enter>
    </label>
    <div class="button-bar">
      <a class="button" ng-class="isTransitionOfType(TransitionType.ENTER) ? 'button-positive' : 'button-light'" ng-click="toggleWhenIgetCloser()">When I get close</a>
      <a class="button" ng-class="isTransitionOfType(TransitionType.EXIT) ? 'button-positive' : 'button-light'" ng-click="toggleWhenIamLeaving()">When I go away</a>
    </div>
    <div class="range" data-tap-disabled="true">
      on
      <input type="range" name="volume" min="5" max="100" ng-model="paths.circle.radius">
      {{ paths.circle.radius }}m
    </div>
    <div style="width: 100%; position: absolute; top: 250px; bottom: 0px;" data-tap-disabled="true">
        <div id="map"></div>
    </div>
  </ion-content>


    <ion-footer-bar class="bar-stable">
        <a ng-click="getCurrentPosition()" class="button button-icon icon ion-navigate"></a>
        <h1 class="title" style="text-align:center">{{odometer}}km</h1>
        <div class="buttons align-right">
            <ion-spinner icon="ios-small" class="" ng-show="isChangingPace"></ion-spinner>
            <button class="button icon {{state.startButtonIcon}}" ng-disabled="!state.enabled" ng-click="onClickChangePace()" style="width:75px"></button>
        </div>
    </ion-footer-bar>

</ion-view>
