<ion-view title="Nexx Garage" class="settings">
    <!--<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>-->
  <ion-nav-buttons side="right"> 
    <span style="padding:5px;font-weight: bold">Debug</span>
    <label class="toggle toggle-balanced">
       <input type="checkbox" ng-click="onToggleDebug()" ng-model="state.debug">
       <div class="track">
         <div class="handle"></div>
       </div>
    </label>
  </ion-nav-buttons>

  <ion-content scroll="true" class="">
    <ion-list>
      <div class="item item-divider">
        Geoloction Settings
      </div>
      <ion-item ng-repeat="setting in getSettings('geolocation')" ng-click="onSelectSetting()" class="item-icon-right">
        {{ setting.name }}
        <i class="current-value setting-{{setting.name}}">{{ getValue(setting.name) }}</i>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <div class="item item-divider">
        Activity Recognition Settings
      </div>
      <ion-item ng-repeat="setting in getSettings('activity recognition')" ng-click="onSelectSetting()" class="item-icon-right">
        {{ setting.name }}
        <i class="current-value setting-{{setting.name}}">{{ getValue(setting.name) }}</i>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <div class="item item-divider">
        Application Settings
      </div>
      <ion-item ng-repeat="setting in getSettings('application')" ng-click="onSelectSetting()" item="setting" class="item-icon-right">
        {{ setting.name }}
        <i class="current-value setting-{{setting.name}}">{{ getValue(setting.name) }}</i>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

      <div class="item item-divider">
        HTTP Settings
      </div>
      <ion-item ng-repeat="setting in getSettings('http')" ng-click="onSelectSetting()" item="setting" class="item-icon-right">
        {{ setting.name }}
        <i class="current-value setting-{{setting.name}}">{{ getValue(setting.name) }}</i>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </div>
  </ion-content>
  <div class="bar bar-footer bar-neutral">
    <button id="btn-email-log" class="button button-positive icon ion-share" ng-click="onEmailLog()" style="width:100px">Send log</button>
    <h1 class="title">&nbsp;</h1>
    <div style="position: absolute;right: 5px;">
      <ion-spinner icon="ios-small" class="" ng-show="isSyncing"></ion-spinner>
      <button class="button button-assertive icon ion-ios-cloud-upload" style="width: 100px" ng-disabled="isAutoSyncDisabled()" ng-click="onClickSync()">Sync</button>
    </div>
  </div>

  



</ion-view>