﻿<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <button class="button button-cancel icon-left ion-close-circled" ng-click="helpModal.hide()">
            Close
        </button>

    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
            Help

        </div>
    </ion-content>
</ion-modal-view>