<ion-view title="Nexx Garage">

	<!--<ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
        	<a class="button button-positive icon-left ion-ios-arrow-left" href="#/app/home">Back</a>
        </ion-nav-buttons>
    </ion-nav-bar>-->


  <ion-header-bar align-title="center" class="bar header-green">

     <div class="buttons navigation-wrapper" ng-model="singleTog"
         ng-click="singleTog.clicked=!singleTog.clicked">

         <i class="ion-navicon-round button"></i>

        <ul class="navigation" ng-show="singleTog.clicked">
            <li><i class="ion-flash "></i><a href="#/tab/action">Actions</a> </li>
            <li><i class="ion-location "></i><a href="#/tab/place">Places</a> </li>
            <li><i class="ion-radio-waves "></i><a href="#/tab/device">Devices</a> </li>
            <li><i class="ion-ios-settings-strong "></i><a href="">Global Settings</a> </li>
            <li><i class="ion-person"></i><a href="">Account</a> </li>
            <li><i class="ion-android-mail"></i><a href="">Contact Us</a></li>
            <li><i class="ion-ios-help"></i><a href="">Help</a> </li>
            <li><i class="icon ion-ios-people custom-icon" ></i>
                    <a href="#/app/deviceUserManager">User Access</a> </li>
            <li><i class="ion-log-in"></i><a href="#/signin">Logout</a> </li>
        </ul>

      </div>

      <h1 class="title">Nexx Device</h1>

  </ion-header-bar>


    <ion-content class="has-header">

        <ion-refresher pulling-text="Retrieving Garage Door History..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <div style="display:none">test</div>

        <ion-list>

            <div class="item item-divider">
                <!--- Total Records: {{activities.length}}-->
                {{deviceModel.deviceNickName}} activities

                <button class="button-icon ion-more" modal-select="" on-select="onDeviceSelect(newValue, oldValue)" ng-model="deviceModel" options="userAccessDevices" modal-title="Select a device" ng-show="(userAccessDevices.length > 1)?true:false" hide-reset="true">
                    <div class="option">
                        {{option.deviceNickName}}
                    </div>
                </button>

            </div>

            <div ng-repeat="activity in activities  | groupBy: 'group' | toArray:true ">
                <ion-item class="item-stable"
                          ng-click="toggleGroup(activity.$key)"
                          ng-class="{active: isGroupShown(activity.$key)}">
                    <i class="icon" ng-class="isGroupShown(activity.$key) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
                    {{ activity.$key }}
                </ion-item>
                <ion-item class="item-accordion history-detail"
                          ng-repeat="activityDetail in activity"
                          ng-show="isGroupShown(activity.$key)">
                    {{activityDetail.activityTypeFriendly}} by {{activityDetail.userFullNameFriendly}} at {{activityDetail.activityDate | utcToLocal:'h:mm:ss a'}}
                </ion-item>
            </div>
        </ion-list>


</ion-content>

    <div class="tabs tabs-icon-only nexx-tabs">

        <a class="tab-item" href="#/app/garageDoorControl"><i class="icon ion-home"></i></a>
        <a class="tab-item" ><i class="icon ion-ios-location"></i></a>
        <a class="tab-item" href="#/app/activityLog"><i class="icon ion-radio-waves"></i></a>
        <a class="tab-item" ng-click="showHelp()"><i class="icon ion-help-circled"></i></a>
        <a class="tab-item" ng-click="showSettings()" href=""><i class="icon ion-ios-list-outline"></i></a>

    </div>


</ion-view>
