

<ion-view title="Nexx Garage">

    <ion-content>

        <mc-messages></mc-messages>

        
        <div class="list  list-inset">
            <span style="font-size:20pt">
                Hi {{userFirstName}},<br /><br />
                We detected that your Nexx Garage device has not been setup.  Tap on the button below to continue the setup process.
            </span>
                <br />
            <a class="button button-block button-positive" href="#/app/registerDeviceWizard">Continue device setup</a>
        </div>

</ion-view>

