<ion-view view-title="login">

  <ion-content>
   
    <div class="logo"><a href=""><img src="img/logo.png" /></a></div>  
     
     <form id="signin">
     
       <mc-messages></mc-messages>
        <div class="form-field">

        <input type="text" name="userName" id="userName" ng-model="loginData.userName" placeholder="Your account email" maxlength="100" required class="errorGroup" autocapitalize="none">

        </div>

        <div class="form-field">
             <input type="password" name="password" id="password" class="errorGroup"
                ng-model="loginData.password" placeholder="Your account password"
              value="password" maxlength="20">
        </div>

        <div class="checkbox-wrapper">
           <p class="check">
            <input type="checkbox" ng-model="loginData.rememberEmail" id="test1">
            <label for="test1"></label>
          </p>
            <input type="checkbox" ><span> Remember Email</span>
           <p class="check">
            <input type="checkbox" ng-model="loginData.rememberPassword" id="test2">
            <label for="test2"></label>
          </p>
            <input type="checkbox"><span> Remember Password</span>
        </div>
        
        <button class="login" ng-click="doSignIn()">LOG IN</button>
         
        <div class="forgot-pass">
             <a href="" class="a1" ng-click="forgotPassword()">Forgot Password?</a>
             <a href="#/app/register" class="a2" >Create Account</a>
        </div>

     </form>


  </ion-content>
    
      <div class="foot-links">
                
                <a href="" ng-click="showTerms()">Terms of Service </a> 

                     <span style="padding-left: 5px;padding-right: 5px;">&</span>

                <a href="" ng-click="showPrivacy()">Privacy Policy</a>     
                <p>v:{{appVersion}}</p>
      </div>

</ion-view>


