﻿<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <button class="button button-cancel icon-left ion-close-circled" ng-click="hideLogList()">
            Close
        </button>
        <button class="button button-positive icon-left ion-checkmark" ng-click="sendLogList()">
            Send Log
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
           
            <ul id="activies_ul">

                <li  ng-repeat="log in logList | orderBy:'-date'">
                    <ul>
                        <li><b>Severity</b>: {{log.errorSeverity}} </li>
                        <li ><b>Message</b>: {{log.message}}</li>
                        <li><b>Date</b>: {{log.date | date:'MM/dd/y h:mm:ss a'}}</li>
                    </ul>
                      
                    <hr />                
                    
                </li>

            </ul>

        </div>
    </ion-content>
</ion-modal-view>