<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        
        <!--<fade-bar></fade-bar>-->

        <!--
        <ion-nav-bar class="bar-stable" ng-style="{'background-color':navBgColor}">
       
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                    
                </button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                <a class="button button-icon button-clear ion-android-add" href="#/newplace"></a>
            </ion-nav-buttons>

        </ion-nav-bar>
        -->

        <ion-nav-view name="menuContent"></ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left" ng-init="disableSwipe()">
        <ion-header-bar class="bar-balanced">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item class="item-icon-left" menu-close href="#/app/garageDoorControl">
                    <i class="icon ion-home custom-icon" ></i>Door Control
                </ion-item>
                
                <!--<ion-item class="item-icon-left" menu-close href="#/app/geofences">
                    <i class="icon ion-android-radio-button-off"></i>Proximity<span class="badge badge-balanced">{{proximitySetupCount}}</span>
                </ion-item>-->
                <!--<ion-item class="item-icon-left" menu-close href="#/app/places">
                    <i class="icon ion-location"></i>Places<span class="badge badge-balanced">{{registeredDevicesCount}}</span>
                </ion-item>-->
                
                <ion-item class="item-icon-left" menu-close href="#/app/deviceUserManager">
                    <i class="icon ion-ios-people custom-icon" ></i>User Access
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/activityLog">
                    <i class="icon ion-ios-book custom-icon" ></i>History<!--<span class="badge badge-balanced">{{gateActivitiesCount}}</span>-->
                </ion-item>
                <!--<ion-item class="item-icon-left" menu-close href="#/app/geofences">
                    <i class="icon ion-ios-book"></i>Proximity Test<span class="badge badge-balanced">0</span>
                </ion-item>-->
                <ion-item class="item-icon-left" menu-close ng-click="showSettings()">
                    <i class="icon ion-ios-settings-strong custom-icon" ></i>Settings<!--<span class="badge badge-balanced">0</span>-->
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/registeredDevices">
                    <i class="icon ion-ios-gear custom-icon" ></i>Registered Devices
                </ion-item>
                <!--<ion-item class="item-icon-left" menu-close href="#/app/geoSettings">
                    <i class="icon ion-ios-gear"></i>Geo Settings
                </ion-item>-->
                <ion-item class="item-icon-left" menu-close ng-click="openContactUsEmail()">
                    <i class="icon ion-email custom-icon" ></i>Contact Us
                </ion-item>
                <ion-item class="item-icon-left" menu-close ng-click="showHelp()">
                    <i class="icon ion-help-circled custom-icon" ></i>Help
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/aboutDevice">
                    <i class="icon ion-iphone custom-icon" ></i>About Device
                </ion-item>
                <ion-item class="item-icon-left" menu-close ng-click="showLogList()" ng-show="showAdminMenuItem()">
                    <i class="icon ion-ios-gear custom-icon" ></i>Log List
                </ion-item>
                <ion-item class="item-icon-left" menu-close ng-click="logOutIn()">
                    <i class="icon ion-log-out custom-icon" ></i>Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
