<ion-modal-view ng-controller="NotificationSettingsCtrl">
    <ion-header-bar class="bar-stable">
        <button class="button button-cancel icon-left ion-close-circled" ng-click="settingsModal.hide()">
            Cancel
        </button>
        <button class="button button-positive icon-left ion-checkmark" ng-click="saveSettings()">
            Save
        </button>
    </ion-header-bar>

    <ion-content class="has-header">

        <form id="formSettings">
            <div class="list">

                <div class="item item-divider">
                    Settings
                </div>

                <ion-toggle ng-repeat="item in settingsList"
                            ng-model="item.checked"
                            ng-checked="item.checked"
                            >
                    {{ item.text }}
                </ion-toggle>

                <!--<span class="block item item-input item-floating-label item item-input nexx-input">
                    {{settings.disableOpenDoorNotificationTime.text}}
                    <button class="button-icon ion-more" modal-select="" style="color:gray" ng-model="settings.disableOpenDoorNotificationTime" options="disableOpenDoorNotificationData" modal-title="" hide-reset="true">
                        Disable Open Door Reminder time period
                        <div class="option">
                            {{option.text}}
                        </div>
                    </button>
                </span>-->
                <div class="item item-divider">
                    Auto Open
                </div>
                <ion-toggle ng-model="settings.enableAutoOpen" ng-checked="settings.enableAutoOpen" ng-change="autoOpenEnabled()">Enable Auto Open Door</ion-toggle>    

                <ion-toggle ng-model="settings.activeAutoOpenTimePeriod" ng-checked="settings.activeAutoOpenTimePeriod" style="border-bottom:none">Active time period</ion-toggle>    
                <div class="block " style="padding-left:20px;padding-bottom:10px">
                    <table >
                        <tr>
                            <td width="35px">
                                <b>Start: </b>
                            </td>
                            <td>   
                                <span class="block">
                                    <input class="errorGroup" style="width:100px;display:inline-block" type="text" id="activeAutoOpenTimeStart" name="activeAutoOpenTimeStart" ng-model="settings.activeAutoOpenTimeStart" placeholder="" readonly />
                                    <i class="fa fa-clock-o fa-2x" aria-hidden="true" ng-click="showTimeModal('start')" style="display:inline-block; vertical-align:middle"></i>
                                </span>
                            </td>
                            <td width="35px" style="padding-left:4px">
                                <b>End:</b>
                            </td>
                            <td>
                                <span class="block">
                                    <input class="errorGroup" style="width:100px;display:inline-block" type="text" id="activeAutoOpenTimeEnd" name="activeAutoOpenTimeEnd" ng-model="settings.activeAutoOpenTimeEnd" placeholder="" readonly />
                                    <i class="fa fa-clock-o fa-2x" aria-hidden="true" ng-click="showTimeModal('end')" style="display:inline-block; vertical-align:middle"></i>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="item item-divider">
                    Voice Assistants
                </div>
                <ion-toggle ng-model="settings.enableAlexaPinCmd" ng-checked="settings.enableAlexaPinCmd">Enable Amazon Alexa Pin Code</ion-toggle>
                <span class="block item item-input item-floating-label">
                    Amazon Alexa Security Pin Code
                    <input class="errorGroup" type="text" id="alexaPin" name="alexaPin" ng-model="settings.alexaPin" placeholder="Enter Alex Pin" minlength="4" maxlength="10" />
                </span>
                <ion-toggle ng-model="settings.enableGooglePinCmd" ng-checked="settings.enableGooglePinCmd">Enable Google Home Pin Code</ion-toggle>
                <span class="block item item-input item-floating-label">
                    Google Home Security Pin Code
                    <input class="errorGroup" type="text" id="googlePin" name="googlePin" ng-model="settings.googlePin" placeholder="Enter Google Pin" minlength="4" maxlength="10" />
                </span>
                
                <div class="item item-divider">
                    Firmware
                </div>
                <ion-toggle ng-model="settings.autoFirmwareUpdate" ng-checked="settings.autoFirmwareUpdate">Auto Update</ion-toggle>
                <br />
            </div>

        </form>

    </ion-content>

</ion-modal-view>
