﻿<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <button class="button button-cancel icon-left ion-close-circled" ng-click="privacyModal.hide()">
            Close
        </button>

    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">

                <div lang="EN-US">

                    <div>

                        <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><a name="0.1_m_8301832185107121174_sec_a"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#1155cc">Privacy</span></b></a><span></span><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"></span></b></p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                The <span>Nexx</span> Garage
                                product, which is also known as <a href="http://www.NexxGarage.com" target="_blank">www.NexxGarage.com</a>, is the intellectual
                                property of <span>SimpalTEK</span> LLC.
                            </span>
                        </p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                We at SIMPALTEK take your privacy seriously. Your
                                use or access of the Services (as defined in the Terms of Use) in any manner
                                serves as your acknowledgement that you accept the practices and policies
                                outlined in this Privacy Policy (this “Policy”). You further hereby consent
                                that we will collect, use, and share your information pursuant to this Policy.
                                Your use of our Services is always subject to our Terms of Use, which includes
                                this Policy.
                            </span>
                        </p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                This Privacy Policy covers how we treat
                                “Personal Information,” which is personally identifiable information that you
                                share with us, and that we collect during your use of our Services. This Policy
                                does not and cannot cover the practices of companies, third parties, and
                                individuals that we do not own or control, or people that we do not manage.
                                During your use of the Services, we will gather Personal Information from our
                                users and will use this information in connection with the Services. The
                                information is used to deliver the basic functionality of the Services, to
                                offer personalization of the Services, to contact you or have other users
                                contact you, to analyze how you use the Services, to allow you to create,
                                modify, and view your account information, and to allow you to customize, rate,
                                and review the Services. In certain cases as defined below, we may also share
                                some Personal Information with third parties.
                            </span>
                        </p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                Please see the Terms of Use as it relates to
                                individuals under the age of 13.
                            </span>
                        </p>

                        <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                            <b>
                                <span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                    CHANGES TO OUR PRIVACY
                                    POLICY
                                </span>
                            </b>
                        </p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                This Policy may change at any time as we
                                improve and change our Services. In the event that we need to change the
                                Services, we will place a notice in this Policy and may also send you an email.
                                If you do not agree with the terms of the updated Policy, you may reject them.
                                However, you may not use the Services thereafter. Your continued use of the
                                Service after a change of the Policy means that you agree to all of the
                                changes.
                            </span>
                        </p>

                        <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">INFORMATION WE COLLECT</span></b></p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                We receive and store the information you
                                knowingly provide to us. During account registration or account update, this
                                can include your name, email address, shipping and billing address, mobile,
                                home, work phone numbers, credit card information or credit card processing
                                information, names you give to your locations, geo-fenced location, names of
                                users for your account, device names, device location names, device group
                                names, scene names, device images, location images, user images, device
                                configuration details, third party account credentials, schedules for devices
                                or groups, and names of schedules.
                            </span>
                        </p>

                        <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">THIRD PARTY SERVICES</span></b></p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                Some third party services that you choose to
                                integrate with the Services may transmit Personal Information into your account
                                with us. You authorize that such “Third Party Information” is covered under
                                this Policy and we may use it just as we use your Personal Information. This
                                information may include but is not limited to, for example, account
                                credentials, names, avatars, profile information, configuration information,
                                images, and linked users (e.g. friends).
                            </span>
                        </p>

                        <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">CONTACTING YOU</span></b></p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                We may use any means that you have provided us
                                to contact you. This may include the email address you use to register for and
                                log in to your account. We may contact you in order to notify you of changes to
                                this Policy or the Terms of Use, changes or updates to the Services,
                                promotional offers, Service information or use case ideas, or user surveys. You
                                may also receive various confirmations about the messages we send to you such
                                as if you receive, open, or delete an email from us. These confirmations help
                                us to improve the way we communicate with you. You may choose to stop receiving
                                communication of the type in each email using the unsubscribe function at the
                                bottom of the email. Some messages that are critical to Service functionality,
                                such as Forgot Password emails and Email Confirmation emails, may not be able
                                to be unsubscribed from.
                            </span>
                        </p>

                        <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"> </span></b></p>

                        <b>
                            <span style="font-size:13.0pt;line-height:115%;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                <br clear="all">
                            </span>
                        </b>

                        <p><b><span style="font-size:13.0pt;line-height:115%;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">AUTOMATICALLY COLLECTED INFORMATION</span></b></p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                Some information is automatically collected as
                                you use the Services. For example, when you connect hardware devices or third
                                party services to your Account, those hardware devices may report usage
                                information to the Services and the Services may read, process, and store this
                                information for the purposes described above. Such information is usually
                                associated with the usage of the particular hardware device or third party
                                service, such as when a motion sensor senses motion. The Services will receive
                                information about the device activation, as well as the information that you
                                have chosen to associate with the device or service such as device name, group
                                name, and location name. The type of the device or service from which
                                information is received will change the types and quantities of information
                                that is received.
                            </span>
                        </p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                Other information automatically collected may
                                include your IP address, location, mobile device information, operating system,
                                browser type, demographic information, application information, click-through
                                paths, identity of pages you’re interacting with, time spent on those pages,
                                and other information associated with how you interact with the pages and
                                Services. We may transfer &quot;Cookies&quot; to your device when you interact
                                with the Services. These Cookies allow us to recognize your device and browser,
                                and keep track of how you interact with the pages of the Services. Your device
                                or browser may allow you to limit your acceptance of Cookies; however, this may
                                prevent proper functionality of the Services and may prevent you from
                                interacting with the Services in certain ways. Third party services may
                                transfer Cookies to your device and/or use existing Cookies on your device. We
                                do not and cannot control third party use of Cookies.
                            </span>
                        </p>

                        <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                            <b>
                                <span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                    SHARING YOUR
                                    INFORMATION
                                </span>
                            </b>
                        </p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                Your Personal Information may be provided to
                                our partners for use in their promotional and/or marketing practices. This
                                information will be anonymized so that you will not be personally identifiable
                                by the information. We may also aggregate the anonymized information and
                                provide it for our partners so they may use it to determine and understand how
                                people interact with and use our Services. We will not disclose aggregated
                                information to a partner in a manner that would identify you personally, as an
                                individual, except as outlined below.
                            </span>
                        </p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                We may provide anonymized, aggregated Personal
                                Information for advertisers so that they may select an appropriate audience for
                                those advertisements and/or promotions. Thus you agree that we may provide any
                                information we have received from you in a non-personally identifiable manner
                                for those advertisers. While we will not tell businesses who you are, we may
                                tell advertisers that you are located in New York so that they may show you
                                advertisements or offers for New York businesses. As another example, we may
                                tell advertisers that you have a device called “Pool Light,” so that they may
                                deliver you advertisements or offers for pool cleaning services.
                            </span>
                        </p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                We may deliver a web beacon file from an ad
                                network to you through the Services. The web beacons allow ad networks to
                                provide anonymized, aggregated auditing, research, and reporting for us and for
                                advertisers and allow ad networks to serve targeted advertisements to you when
                                you visit other websites. Because your web browser must request these
                                advertisements and web beacons from the ad network&#39;s servers, these companies
                                can view, edit, or set their own cookies, just as if you had requested a web
                                page from their site.
                            </span>
                        </p>

                        <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                            <b>
                                <span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                    AT THE EVENT OF CHANGE
                                    OF CONTROL
                                </span>
                            </b>
                        </p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                SIMPALTEK may elect to buy or sell assets.
                                When buying or selling assets, customer information is often one of the assets
                                that may be transferred. Personal Information may also be transferred or
                                acquired by a third party in the event that SIMPALTEK is acquired, enters
                                bankruptcy, or goes through some other change of control.
                            </span>
                        </p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                Please be advised that, we may disclose
                                information that you have provided us if we have a good faith belief that such
                                disclosure is necessary to (a) comply with the law or legal process served on
                                us; or (b) protect and defend the rights and property of SIMPALTEK or others;
                                in any event, we will disclose information only in accordance with applicable
                                regulations.
                            </span>
                        </p>

                        <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">SECURITY</span></b></p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                Your account’s privacy and security is
                                protected by your password. In order to prevent unauthorized access to your
                                account and Personal Information, you should select a strong password and
                                protect it by limiting access to your computer or device and browser or
                                application and by signing off after you have finished accessing your account.
                                If you use a third party service to sign into your account, you should protect
                                that account accordingly as well.
                            </span>
                        </p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                While we strive to always protect the privacy
                                of your account and Personal Information in our records, we cannot always
                                guarantee it will be completely secure. The security of your Personal
                                Information may be compromised by unauthorized entry, unauthorized use,
                                hardware failure, software failure, and other factors at any time.
                            </span>
                        </p>

                        <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">STORING YOUR INFORMATION</span></b></p>

                        <p style="margin-bottom:12.0pt;line-height:15.6pt">
                            <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                Using the Services, you can access and may be
                                able to edit or remove the Personal Information you have provided to us. The
                                information you can access through the Services may change as the Services
                                themselves change. When you change information, however, we may maintain a copy
                                of the original information in our records. Please note that some information
                                may remain in our records after deletion of information from your account.
                                Additionally, we may use any anonymized or aggregated data that incorporates or
                                is derived from your Personal Information after you update or delete it;
                                however we will not do so in a way that identifies you personally.
                            </span>
                        </p>

                    </div>

                </div>



        </div>
    </ion-content>
</ion-modal-view>