﻿
<ion-view title="Push Notification">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <button class="button button-block button-dark" ng-click="identifyUser()">
            Identify a user
        </button>

        <button class="button button-block button-positive" ng-if="identified" ng-click="pushRegister()">
            Register for Push
        </button>
        
    </ion-content>
</ion-view>

