<ion-view>
  <ion-header-bar>
    <h1 class="title">Register</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <form id="register">
      <div class="list">
          <span class="block item item-input item-floating-label">
              <span class="input-label">First Name</span>
              <input type="text" id="firstName" name="firstName" ng-model="registration.firstName" placeholder="Your first name" required maxlength="25">
          </span>
		<span class="item item-input item-floating-label">
          <span class="input-label">Last Name</span>
          <input type="text" id="lastName" name="lastName" ng-model="registration.lastName" placeholder="Your last name" required maxlength="25">
        </span>
		<span class="block item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" id="email" name="email" ng-model="registration.email" placeholder="Your email" required maxlength="25">
        </span>
        <!--<label class="item item-input item-floating-label">
            <span class="input-label">Device ID</span>
            <input type="text" ng-model="registration.deviceId" placeholder="smartGATE device ID">
        </label>-->
		<span class="block item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" id="password" name="password" ng-model="registration.password" placeholder="Your password" required maxlength="15">
        </span>
          
		<!--<label class="item item-input item-floating-label">
          <span class="input-label"></span>
		  
           <button class="button button-royal" modal-select="" ng-model="someObjModel" options="selectableNames" has-search="true">
            Cable\Satellite Provider
            <div class="option">
              <h2>{{option.name}}</h2>
              <p>{{option.role}}</p>
            </div>
          </button>
			
			{{someObjModel.name}}
        </label>-->
        <label class="item">
          <button class="button button-block button-positive" ng-click="doRegister()">Register</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>