﻿<ion-modal-view ng-controller="RegisterDeviceWizardCtrl">
    
    <!--<ion-header-bar class="bar-stable">
        <button class="button button-cancel icon-left ion-close-circled" ng-click="closeModalRegisterDeviceWizard()">
            Cancel
        </button>
    </ion-header-bar>
     -->
     <div class="header-cls">
            <div class="buttons cn">
               <a  href="" ng-click="closeModalRegisterDeviceWizard()" class="button">Cancel</a>
           </div>
     </div>


    <ion-content class="has-header">
        <ion-list>

            <!-- MAIN CONTENT -->
            <div id="main_content_wrap" class="outer" style="margin-top: 20px;">
                <section id="main_content" class="inner main-inner">
                    <wizard on-finish="finished()" indicators-Position="top">
                        <wz-step title="Device">
                            <br />
                            <div class="slide-btn-box" style="margin-top: 20px;">
                              <button type="button" ng-click="nextTab()" class="btn btn-default">Nexx Plug </button>
                            </div>
                            <div class="slide-btn-box">
                              <button type="button" ng-click="nextTab()" class="btn btn-default">Nexx Socket</button>
                            </div>
                            <div class="slide-btn-box">
                              <button type="button" ng-click="nextTab()" class="btn btn-default">Nexx Garage</button>
                            </div>
                            <div class="slide-btn-box">
                              <button type="button" ng-click="nextTab()" class="btn btn-default">Nexx Sprinkler</button>
                            </div>
        
                            <br />
                            <br />
                            <br />
                        </wz-step>
                        
                        <wz-step title="Power">
                            <br />
                              <div class="slide-btn-content" style="margin-top: 20px;">
                                 <p>Before adding Nexx Garage device to your account,
                                    please verify that the device has power and the 
                                    device's LED light is steady green. Asteady green light 
                                    will alwys indicate the device in WiFi configuration
                                   mode.</p>
                                  <p><strong>Is the device's Led light steady green?</strong></p>
                                 <button type="button" class="btn btn-default" 
                                  ng-click="goWifiSettings()">Yes, light is steady green</button>
                                 <button type="button" ng-click="resetDeviceAlert()"
                                   class="btn btn-defaults">No, there is no light</button>
                             </div>
                           
                            <br />
                            <br />
                            <br />
                        </wz-step>
                        <wz-step title="WiFi">
                            <form id="formWizardConfig" style="margin-top: 20px;">
                                <br />

                                    <div class="slide-btn-content">
            <h2>Set WiFi Network to <br>NexxGarage -XXXXXX</h2>
            <p>Before configuring your device,you must leave this app and go to your phone's wifi settings. When at WiFi settings,select "NexxGarage-XXXXXX" WIFI network.If asked,enter "12345678" as the password.After you have successfully connected to that network,return back to this app to continue configuring your device. This app could take up to 3 minutes to scan and retrieve a list of WiFI network.</p>
        </div>
        <div class="slide-btn-content1">
            <div style="text-align: center" ng-hide="(wifiList).length > 0 ">
                                    <div ng-show="wifiNetworkIssue">
                                        <h3 class="text-center;" style="color:red">There was an issue retrieving the WiFi network list.  Please check if your phone is connected to "NexxGarage-xxxxxx" WiFi network.
                                          If you are on the Nexx Garage WiFi and still having issue connecting than check if your network has multiple routers.  There could be a conflict with a router having an IP address 192.168.1.1 which is the same as the Nexx Garage device.  If this is the case disconnect the router from the network and re-try retreiving the WiFi network again.  Once the Nexx Garage has been successfully configured re-connect the router again.
                                        </h3>

                                        <br />
                                        <br />
                                        <br />
                                        <button class="col button button-block button-balanced" ng-click="getList()">Refresh WiFi List</button>
                                    </div>


                                    <div ng-hide="wifiNetworkIssue">
                                        <h3 class="text-center"><code>Scanning WiFi Network</code></h3>

                                        <p><i class="fa fa-spinner fa-spin fa-2x" style="color:cornflowerblue"></i></p>

                                        <p><span style="font-style:italic"> Retrieving WiFi networks.  Please connect to NexxGarage WiFi.</span></p>
                                        <p ng-bind-html="ngConnectStage" style="font-style:italic"></p>

                                        <countdown id="detectWiFiCounter" autostart="false" time="210" colors="flat-colors-very-wide" callback="countdownFinished()"></countdown>
                                    </div>
                                </div>


                                <div ng-show="(wifiList).length > 0">

                                    <div class="slide-btn-content-top">
            <div class="slide-btn-content2">
                <h2>Set WiFi Network to <br>NexxGarage -XXXXXX</h2>
            </div>
            <div class="slide-btn-content-listing">
                <p>Select your home WiFi network and enter the
WiFi password to configure your Nexx Garage
device.</p>
               
                                 <span class="block">
                                            <ion-radio name="wifiNetwork" ng-repeat="wifi in wifiList"
                                                       ng-value="wifi.ssid"
                                                       ng-model="config.ssId" class="errorGroup">
                                                <h2 class="ion-wifi">
                                                    {{wifi.ssid}}
                                                </h2>
                                            </ion-radio>
                                        </span>

                                        <br />

                                        <!--<span class="input-label"><b>Home WiFi Network</b></span>-->
                                        <label class="item item-input nexx-input">
                                            <input type="text" id="wifiNetwork" name="wifiNetwork" placeholder="Select Home WiFi Network" ng-model="config.ssId" maxlength="50" autocomplete="off" autocorrect="off" autocapitalize="none">
                                            
                                        </label>

                                        <!--<span class="input-label"><b>WiFi Password</b></span>-->
                                        <span class="item item-input nexx-input block">
                                            <input type="text" id="wifiPassword" name="wifiPassword" placeholder="Enter WiFi Password" ng-model="config.wifiPassword" maxlength="50" placeholder="Enter your WiFi Password" autocomplete="off" autocorrect="off" autocapitalize="none" class="errorGroup">
                                            
                                        </span>

                                         <br />
                                    <button class="col button button-block button-positive" ng-click="goVerify()">Continue</button>

                            </div>
                            </div>
                           
                          </div>
                          </div>

                                <br /><br />

                            </form>

                        </wz-step>
                        <wz-step title="Config">
                            <br />
                            <h3>WiFi Verification</h3>

                            <div id="stepConfigSection1" ng-show="showConfigSection1">

                                <div data-ng-hide="startConfiguring">

                                    <table>
                                        <tr>
                                            <td>
                                                <p>
                                                    Please verify your WiFi network and password.<br />
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>WiFi network</b>: {{config.ssId}}<br /></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>WiFi password</b>: {{config.wifiPassword}}
                                                <br />
                                                (Password is case sensitive)
                                                <br />
                                            </td>
                                        </tr>
                                    </table>
                                    <br />
                                    <button class="col button button-block button-positive has-spinner" ng-click="saveDeviceConfig()" data-ng-hide="startConfiguring">
                                        Configure Device
                                    </button>
                                </div>

                                <div data-ng-show="startConfiguring">
                                    Your device should start blinking a green light during the configuration process.
                                </div>

                                <button class="col button button-block button-positive has-spinner" data-ng-show="startConfiguring">
                                    <i class="fa fa-spinner fa-spin"></i>
                                    <span style="font-style:italic"> Configuring device in process</span>
                                </button>
                                <br />
                                <br />
                            </div>

                            <div id="stepConfigSection2" ng-show="showConfigSection2">
                                <p>After saving WiFi information to the device, the device's LED light should blink several times and then eventually turn off.  When the LED light turns off completely, the device has successfully connected to your WiFi network.  Is the device's LED light off?</p>
                                <br />
                                <p><button class="col button button-block button-positive" ng-click="goCloudRegister()">Yes, the LED light is off</button></p>

                                <p><button class="col button button-block button-assertive" ng-click="openConfigSection3();">No, the LED light is blinking</button></p>

                                <p><button class="col button button-block button-assertive" ng-click="openConfigSection3();">No, the LED light is steady green</button></p>
                                <br />
                                <br />
                            </div>

                            <div id="stepConfigSection3" ng-show="showConfigSection3">

                                <p>
                                    Below are some common issues and resolutions.  After trying these resolutions and you are still having issues, please contact support@nexxgarage.com for further assistance.
                                </p>
                                <p>

                                    <ul style="display: block; list-style-type: disc; margin-top: 1em; margin-bottom: 1 em; margin-left: 0; margin-right: 0; padding-left: 40px;">
                                        <li>
                                             Slow blinking green light (1.5 seconds):  This indicates that the device cannot connect to your home WiFi.  Typical cause is a invalid password.  Reset the device by pressing the device's Reset button until the LED light is solid green.  Then go through the WiFi configuration process again.
                                        </li>
                                        <li> Fast blinking green light (.25 seconds):  This indicates that the device cannot connect to Nexx Garage Cloud Service.  Please configure your router to allow port 8883.</li>
                                        <li> Steady green light:  This indicates that the device did not receive the WiFi information.  Please go through the WiFi configuration process again.</li>
                                    </ul>
                                </p>

                                <br />
                                <p><button class="col button button-block button-positive" ng-click="backWiFiSetting()">Back to WiFi Settings</button></p>
                                <br />
                                <br />
                            </div>

                        </wz-step>
                        <wz-step title="Cloud">
                            <form id="formWizardCloud">
                                <br />
                                <h3>Cloud Registration</h3>

                                <p>
                                    We are almost finished.  We will now need to register your device to Nexx Garage Cloud Service, so make sure you are on your home WiFi network.  Please provide a device nickname or you can accept the default device name.  When you are ready, tap "Register to Cloud".
                                </p>
                                <div style="font-weight:bold">Device Nickname</div>
                                <span class="item item-input item-floating-label block">

                                    <input type="text" id="locationNickName" name="locationNickName" ng-model="config.locationNickName" minlength="5" maxlength="50" placeholder="Example: Chris house garage" class="errorGroup" required>
                                </span>
                                <br />
                                <button class="col button button-block button-positive" ng-click="register2cloud()" data-ng-hide="startRegister2cloud">Register to Cloud</button>

                                <button class="col button button-block button-positive has-spinner" data-ng-show="startRegister2cloud">
                                    <i class="fa fa-spinner fa-spin"></i>
                                    <span style="font-style:italic">Registering device to Cloud</span>
                                </button>
                                <br />
                                <br />
                            </form>
                        </wz-step>
                        <!--<wz-step title="Even more">
                            <h1>Even More steps</h1>
                            <p>I can't deal with so many steps. ARGH</p>
                            <input type="button" wz-next value="Click here to continue" />
                        </wz-step>
                        <wz-step title="Sup?">
                            <h1>Sup?</h1>
                            <p>I don't even know what to write!</p>
                            <input type="button" wz-next value="Click here to continue" />
                        </wz-step>
                        <wz-step title="Finish him">
                            <h1>Finish him</h1>
                            <p>Finally this ends!</p>
                            <input type="button" wz-next value="Click here to end" />
                            <input type="button" ng-click="goBack()" value="Click here to start again" />
                        </wz-step>-->
                    </wizard>
                </section>
            </div>

        </ion-list>


    </ion-content>

</ion-modal-view>
