﻿<ion-view title="Nexx Garage">



  <ion-header-bar align-title="center" class="bar header-green">

     <div class="buttons navigation-wrapper" ng-model="singleTog" 
         ng-click="singleTog.clicked=!singleTog.clicked">
        <i class="ion-navicon-round button"></i>
        
         <ul class="navigation" ng-show="singleTog.clicked">
            <li><i class="ion-flash "></i><a href="">Actions</a> </li>
            <li><i class="ion-location "></i><a href="">Places</a> </li>
            <li><i class="ion-radio-waves "></i><a href="#/app/registeredDevices">Devices</a> </li>
            <li><i class="ion-ios-settings-strong "></i>
                 <a href="" ng-click="showSettings()">Global Settings</a> </li>
            <li><i class="ion-person"></i><a href="">Account</a> </li>
            <li><i class="ion-android-mail"></i><a href="" 
                 ng-click="openContactUsEmail()">Contact Us</a></li>
            <li><i class="icon ion-ios-people custom-icon" ></i>
                 <a href="#/app/deviceUserManager" >User Access</a> </li>
            <li><i class="ion-ios-help"></i><a href="" ng-click="showHelp()">Help</a> </li>
            <li><i class="ion-log-in"></i><a href="" ng-click="logOutIn()">Logout</a> </li>
        </ul>

      </div>

      <h1 class="title" >Nexx Device</h1>

  </ion-header-bar>


    <ion-content style="padding:0px;">

       
            <div class="row rownew">
                <div class="col col-75">
                    <div class="title nexx-title" style="text-align:left;margin-left:0px"><b>Registered Devices</b></div>
                </div>

                <!--<div class="title" ><b>User Access</b></div>-->

                <div class="col" ng-click="showRegisterDeviceWizard()">
                    <div class="title nexx-title">
                        <a class="nexx-back" style="float: right;
                      margin-right: 20%;" >
                            <!--<img src="img/add.svg" alt="Add Device">-->
                              <i class="icon ion-plus"></i>
                        </a></div>
                </div>
            </div>
      
        <ion-list>

            <div ng-switch="registeredDevices.length">
                <div ng-switch-when="0">
                    <div style="text-align:center; top:50px">
                      
                        <font style="font-family:Verdana">You do not have any registered devices under your account.  Tap the "+" above to register a device.</font>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-repeat="device in registeredDevices">
                        <div class="row item">
                            <div class="col col-50 nexx-user title" style="color:darkgrey">
                                <div class="title" ng-click="showEditDevice(device.deviceId, device.deviceName, device.locationNickName, device.isMain, device.isEnable, device.number)">
                                    {{device.locationNickName}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>


    </ion-content>


     <div class="tabs tabs-icon-only nexx-tabs">

        <a class="tab-item" href="#/app/garageDoorControl"><i class="icon ion-home"></i></a>
        <a class="tab-item" ><i class="icon ion-ios-location"></i></a>
        <a class="tab-item" href="#/app/activityLog"><i class="icon ion-radio-waves"></i></a>
        <a class="tab-item" ng-click="showHelp()"><i class="icon ion-help-circled"></i></a>
        <a class="tab-item" ng-click="showSettings()" href=""><i class="icon ion-ios-list-outline"></i></a>
       
    </div>


    <!--<div class="bar bar-footer bar-stable">
      <div class="title"><a class="nexx-back" href="#/app/home"><img src="img/back-arrow.svg" alt="Back"></a></div>
    </div>-->
</ion-view>
