﻿<ion-view>

  <ion-header-bar align-title="left" class="bar">
  
  <div class="buttons cnrst">
    <a href="#/loginPage" class="button">Cancel</a>
  </div>

  <div class="buttons fr">
    <button class="button" ng-click="doResetPassword()">Reset Password</button>
  </div>

</ion-header-bar>

  <ion-content>
     <form id="resetPassword">
             <mc-messages></mc-messages>
                <p class="para"> An email has been send to your account email with a password reset code.
                  To reset your password, enter the reset code and a new password </p>
         <div class="form-field">
             <span class="block">
                    <input type="text" ng-model="resetPassword.ResetCode" placeholder="Enter Reset Code" id="code" name="code" requried maxlength="6" class="errorGroup" >
             </span>
          </div>

         <div class="form-field">
            <span class="block">
                    <input type="password" class="newPassword errorGroup" name="password" id="password" ng-model="resetPassword.Password" placeholder="New password" required maxlength="  15" style="display:inline-block; width:100%">
                    <!--
                    <i class="icon ion-eye placeholder-icon nexx-eye errorGroup" on-hold="showPassword()" on-release="hidePassword()" style="display:inline-block"></i>
                    -->
            </span>
         </div>

         <div class="form-field">

              <span class="block">
                    <input type="password" name="confirm" id="confirm" ng-model="resetPassword.Confirm" placeholder="Confirm password" maxlength="15" class="errorGroup" style="display:inline-block; width:100%">
                    <!--
                    <i class="icon ion-eye placeholder-icon nexx-eye errorGroup" on-hold="showPassword()" on-release="hidePassword()" style="display:inline-block"></i>
                    -->
              </span>

            </div>
     </form>
  </ion-content>

</ion-view>
