<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Sign In</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <form id="signin">
      <div class="list">
      
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" name="userName" id="userName" ng-model="loginData.userName" placeholder="Your account email" required>
        </label>

	    	<label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" name="password" id="password" ng-model="loginData.password" placeholder="Your account password" required>
        </label>
      
          <button class="button button-block button-positive" ng-click="doSignIn()">Sign In</button>
          <button class="button button-block button-positive" ng-click="goRegister()">Register</button>
        
      </div>
    </form>
  </ion-content>
</ion-modal-view>