﻿<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <button class="button button-cancel icon-left ion-close-circled" ng-click="termsModal.hide()">
            Close
        </button>

    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
            <div lang="EN-US">

                <div>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><a name="0.4_m_8301832185107121174_sec_b"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#1155cc">TERMS OF USE</span></b></a><span></span><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"></span></b></p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            These terms are applicable for the worldwide
                            use of the <span>Nexx</span> Garage product, mobile apps, and
                            website operated by <span>SimpalTEK</span> <span>LLC<span>  </span>and</span> its affiliates. These T&amp;C s
                            are subject to change without prior notice.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">Welcome</span></b></p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            The Services defined herein are provided by SIMPALTEK
                            LLC. This document may refer to the service provider as “SIMPALTEK LLC.”,
                            &quot;SIMPALTEK”, &quot;we”, &quot;us&quot;, or &quot;our”.
                        </span>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            These are the rules and restrictions that
                            govern your use of our website(s), products, services, mobile applications, and
                            other software (collectively, the &quot;Services&quot;).
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><span><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">Your</span></b></span><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"> Acceptance</span></b></p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            These Terms of Use (the &quot;Terms&quot;) are
                            a binding contract between you and SIMPALTEK (the “Agreement”). If you do not
                            agree to and accept all of the Terms, you do not have the right to use the
                            Services. By using the Services in any way, you agree to the Terms. The terms
                            shall remain in effect as long as you use the Services. The Terms also include SIMPALTEK’s
                            Privacy Policy.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">Modifications to Terms</span></b></p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            These Terms may change at any time as we
                            improve and change our Services. In the event that we need to change the
                            Services, we will place a notice in these Terms and may also send you an email.
                            If you do not agree with any new Terms, you may reject them. However, you may
                            not use the Services thereafter. Your continued use of the Service after a
                            change of Terms means that you agree to all of the changes.
                        </span>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Changes, amendments, or modifications made to
                            the Terms are ineffective, unless they are made by us and updated as described
                            herein, or they are made in writing and signed by both you and us.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">Children&#39;s Privacy</span></b></p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            The Children&#39;s Online Privacy Protection Act
                            (&quot;COPPA&quot;) prohibits online service providers from knowingly
                            collecting personally identifiable information online from children who are
                            under 13 without parental consent. We do not knowingly collect such
                            information. If you are a child under 13, you may not register for the Services
                            or send any personal information about yourself to us. In the event that we
                            learn we have collected personal information from a child under 13, we will
                            destroy that information as quickly as possible.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">Account Registration</span></b></p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            In order to use the Services, you may be
                            required to sign up for an account. To sign up for an account, you must provide
                            a verifiable email address or phone number and a password. You may not sign up
                            using a name that you don&#39;t have the right to use, or another person&#39;s name
                            with the intent to impersonate that person.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                        <b>
                            <span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                Representations and
                                Warranties
                            </span>
                        </b>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            You represent and warrant that you are of
                            legal age to enter into a binding contract. If not, you represent and warrant
                            that you have acquired parental consent and that they have read and agreed to
                            these Terms on your behalf. If you&#39;re using the Services on behalf of an
                            organization or entity, you represent and warrant that you are authorized to
                            agree to these Terms on their behalf and bind them to these Terms. You may only
                            use the Services for your personal, non-commercial use. Your use must comply
                            with all laws that apply to you. You may not use these Services if applicable
                            laws prohibit such use.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">Restrictions on Use</span></b></p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            During your usage of the Services, you may
                            create connections between our hardware devices, third-party hardware devices,
                            our Services, and/or third-party services. You agree that you will not connect
                            to the Services any hardware devices or third-party services in a manner that
                            could be dangerous to any person(s), or which could cause damage to or loss of
                            any property.
                        </span>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Your use of the Services is subject to the
                            following additional restrictions:
                        </span>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            You may not use the Services or interact with
                            the Services in a manner that:
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Infringes or violates the intellectual
                            property rights or any other rights of anyone else;
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt"><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>2.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">Violates any law or regulation;</span></p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>3.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Is harmful, fraudulent, deceptive,
                            threatening, harassing, defamatory, obscene, or otherwise objectionable;
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>4.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Jeopardizes the security of your account or
                            anyone else&#39;s;
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>5.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Attempts, in any manner, to obtain the
                            password, account, or other security information from any other user;
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>6.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Violates the security of any computer network,
                            or cracks any passwords or security encryption codes;
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>7.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Runs any form of auto-responder or
                            &quot;spam&quot; on the Services, or that otherwise interferes with the proper
                            working of the Services (including by placing an unreasonable load on the
                            Services&#39; infrastructure);
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>8.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            &quot;Crawls,&quot; &quot;scrapes,&quot; or
                            &quot;spiders&quot; any page or portion of the Services (through use of manual
                            or automated means);
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>9.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Copies or stores any significant portion of
                            the Content (as defined below);
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>10.<span style="font:7.0pt &quot;Times New Roman&quot;">  </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Decompiles, reverse engineers, or otherwise
                            attempts to obtain the source code of the Services.
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt"><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"> </span></p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                        <b>
                            <span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                Content on the
                                Services
                            </span>
                        </b>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            “Content” is all of the information collected
                            during your use of the Services. It includes information provided by you, by
                            other users, by hardware devices connected to the Services, and by third-party
                            devices and services connected to the Services. It also includes any
                            information we provide into the Services, as well as information derived from
                            or aggregated from any and all information provided to the Services.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">Fees</span></b></p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            We may require payment of fees for certain
                            portions of the Services. You may elect to subscribe to such features. If you
                            elect to subscribe to such features, you shall pay the fees described within
                            such features. We may change the prices and institute new charges upon ten days
                            prior notice to you. This notice may be delivered by email to you or by a post
                            on the Services. Use of the Services by you following such notification
                            constitutes your acceptance of any new or changed charges.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                        <b>
                            <span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                Changes to the
                                Services
                            </span>
                        </b>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Service may change over time, as we improve
                            them. At any time, we may suspend, discontinue, impose, or remove limits of
                            use, or restrict access to all or part of the Services. Some such changes to
                            the Services may render hardware devices, third-party services, configurations,
                            or software setups inoperable. We may make such changes at our sole discretion
                            and with or without notice. You understand that SIMPALTEK owns the Services.
                            You won&#39;t attempt to modify, publish, transmit, participate in the transfer or
                            sale of, reproduce, create derivative works based on, or otherwise exploit any
                            of the Services.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                        <b>
                            <span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                User Content
                                Submissions
                            </span>
                        </b>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            You may provide Content to or through the
                            Services in various ways. We shall call this “Personal Submissions.” In
                            addition, when you connect various hardware peripherals, third-party services,
                            or applications with the Services, those items will often provide information
                            or data for the Services. This will often occur in an automated fashion. We
                            shall call this “Device Submissions.” You own your Personal Submissions and
                            Device Submissions, and SIMPALTEK does not claim any ownership over them;
                            however, you grant us certain rights in/to your Personal Submissions and Device
                            Submissions, as outlined herein. You represent and warrant that you own or
                            otherwise have all rights to such submissions and that disclosure and use of
                            such submissions by SIMPALTEK (including without limitation, publishing content
                            on the Services) will not infringe or violate the rights of any third party.
                        </span>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Subject to our Privacy Policy, for all
                            Personal Submissions and Device Submissions, you hereby shall and do grant SIMPALTEK
                            a worldwide, perpetual, non-exclusive, royalty-free, irrevocable,
                            sub-licensable and transferable license to use, reproduce, modify, share,
                            distribute, prepare derivative works of, perform, display, and otherwise fully
                            exploit the Personal Submissions and Device Submissions in connection with the
                            Services and SIMPALTEK’s (and its successors&#39; and assigns&#39;) business. This may
                            include, without limitation, promotion of and redistribution of part or all of
                            the Services in any media formats and through any media channels.
                        </span>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            You acknowledge that we have no obligation to
                            maintain or <span>persist</span> your Personal Submissions or
                            Device Submissions for any specified period of time, to guarantee access to
                            these items, and have no liability for these items submitted to the Services
                            that are or become unavailable through the Services. You hereby grant SIMPALTEK
                            a royalty-free, worldwide, sub-licensable, irrevocable, transferable, perpetual
                            license to use or incorporate into the Services any suggestions,
                            recommendations, enhancement requests, or other feedback that you provide to us
                            relating to the Services.
                        </span>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            SIMPALTEK does not endorse and has no control
                            over any Personal Submission. You acknowledge that you access all content by
                            using the Services and provide all Personal Submissions at your own risk and
                            you will be solely responsible for any damage or loss to any party resulting
                            therefrom.
                        </span>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Any and all information or content publicly
                            posted or privately transmitted through the Services is the sole responsibility
                            of the person from whom such content originated. You access all such
                            information and content at your own risk. We are not liable for any errors or
                            omissions in that information or content or for any damages or loss you might
                            suffer in connection with it. We cannot control and have no duty to take any
                            action regarding how you may interpret and/or use the Content or what actions
                            you may take as a result of having been exposed to the Content. You hereby
                            release us from all liability for you having acquired, been exposed to, not
                            acquired, or not been exposed to Content through the Services. You have an
                            obligation to, and commit to keep all your registration information accurate
                            and current. You are responsible for all your activity in connection with the
                            Services.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">Third-Party Services</span></b></p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            You accept that SIMPALTEK is not responsible
                            for the risks you take associated with links or connections to third-party
                            applications or services. You understand that such third-party services may or
                            may not carry their own terms, conditions, privacy policies or other policies
                            that may or may not be related to these Services. We encourage you to be aware
                            of such agreements when you connect third-party services to these Services. We
                            cannot and do not have control over, nor do we assume any responsibility or
                            risk for content, accuracy, practices, opinions, or policies of any third-party
                            websites, applications, or services that you may be exposed to when you
                            interact with the Services. Your interactions with third-party organizations
                            and/or individuals found on or through the Services are solely between you and
                            such organizations and/or individuals. You agree that we shall not be responsible
                            for any liability for any loss or damage associated with any such interactions.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">Termination</span></b></p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            You are free to stop using the Services at any
                            time. You understand and agree that we may or may not delete your Content in
                            the event that you stop using the Services. Account termination may result in
                            destruction of any Personal Submissions and/or Device Submissions associated
                            with your account; however, you understand and agree that we may retain copies
                            of such Content indefinitely. In the event that we elect to terminate your
                            account, we will try to provide advance notice to you prior to termination so
                            that you are able to retrieve any important Content stored in your account. You
                            understand and agree that we may provide no advanced notice for any reason, but
                            usually because it would be impractical, illegal, not in the interest of
                            someone&#39;s safety or security, or otherwise harmful to the rights or property of
                            SIMPALTEK.
                        </span>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            If any provision of this agreement is found to
                            be unenforceable or invalid, that provision will be limited or eliminated, to
                            the minimum extent necessary, so that these Terms shall otherwise remain in
                            full force and effect and enforceable.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                        <b>
                            <span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                Additional Terms and
                                Conditions
                            </span>
                        </b>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            These Terms apply to your use of all the
                            Services, including applications available via the Apple, Inc.
                            (&quot;Apple&quot;) App Store (the &quot;Application&quot;), but the following
                            additional terms also apply to the Application:
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            The Application is licensed to you on a
                            limited, non-exclusive, non-transferrable, non-sub-licensable basis, solely to
                            be used in connection with the Services for your private, personal,
                            non-commercial use, subject to all the Terms as they are applicable to the
                            Services;
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>2.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Both you and SIMPALTEK acknowledge that the
                            Terms are concluded between you and SIMPALTEK only, and not with Apple, and
                            that Apple is not responsible for the Application or the Content;
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>3.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            You will only use the Application in
                            connection with an Apple device that you own or control;
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>4.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            You acknowledge and agree that Apple has no
                            obligation whatsoever to furnish any maintenance and support services with
                            respect to the Application;
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>5.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            In the event of any failure of the Application
                            to conform to any applicable warranty, including those implied by law, you may
                            notify Apple of such failure; upon notification, Apple&#39;s sole warranty
                            obligation to you will be to refund to you the purchase price, if any, of the
                            Application;
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>6.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            You acknowledge and agree that SIMPALTEK, and
                            not Apple, is responsible for addressing any claims you or any third-party may
                            have in relation to the Application;
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>7.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            You acknowledge and agree that, in the event
                            of any third-party claim that the Application or your possession and use of the
                            Application infringes that third-party&#39;s intellectual property rights, SIMPALTEK,
                            and not Apple, will be responsible for the investigation, defense, settlement,
                            and discharge of any such infringement claim;
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>8.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            You represent and warrant that you are not
                            located in a country subject to a U.S. Government embargo, or that has been
                            designated by the U.S. Government as a &quot;terrorist supporting&quot;
                            country, and that you are not listed on any U.S. Government list of prohibited
                            or restricted parties;
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>9.<span style="font:7.0pt &quot;Times New Roman&quot;">     </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Both you and SIMPALTEK acknowledge and agree
                            that, in your use of the Application, you will comply with any applicable
                            third-party terms of agreement which may affect or be affected by such use;
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"><span>10.<span style="font:7.0pt &quot;Times New Roman&quot;">  </span></span></span><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Both you and SIMPALTEK acknowledge and agree
                            that Apple and Apple&#39;s subsidiaries are third-party beneficiaries of this
                            Agreement, and that upon your acceptance of this Agreement, Apple will have the
                            right (and will be deemed to have accepted the right) to enforce this Agreement
                            against you as the third-party beneficiary hereof.
                        </span>
                    </p>

                    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:26.4pt;margin-bottom:.0001pt;line-height:15.6pt"><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333"> </span></p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">Warranty Disclaimer</span></b></p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            Except as expressly set forth below, SIMPALTEK
                            does not make any representations or warranties concerning any products,
                            software, services, information, or content contained in or accessing through
                            the Services, and we will not be responsible or liable for the accuracy,
                            copyright compliance, legality, or decency of material contained in or accessed
                            through the Services. We make no representations or warranties regarding
                            suggestions or recommendations of services or products offered or purchased
                            through the Services. Products and services purchased or offered through the
                            Services are provided &quot;AS IS&quot; and without any warranty of any kind
                            from SIMPALTEK or others, unless a separate written warranty is provided
                            expressly and unambiguously for a specific product or service (and if such a
                            warranty is provided, it will apply only to such specific product or service,
                            and not to the Services generally). THE SERVICES (AND ALL PRODUCTS, SOFTWARE,
                            SERVICES, INFORMATION AND CONTENT) ARE PROVIDED ON AN &quot;AS-IS&quot; BASIS,
                            WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT
                            LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
                            PURPOSE, NON-INFRINGEMENT, OR THAT USE OF THE FOREGOING WILL BE UNINTERRUPTED
                            OR ERROR-FREE. SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED
                            WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                        <b>
                            <span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                Limitation of
                                Liability
                            </span>
                        </b>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            TO THE FULLEST EXTENT ALLOWED BY APPLICABLE
                            LAW, UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY (INCLUDING, WITHOUT
                            LIMITATION, TORT, CONTRACT, STRICT LIABILITY, OR OTHERWISE) SHALL SIMPALTEK BE
                            LIABLE TO YOU OR TO ANY OTHER PERSON FOR (A) ANY INDIRECT, SPECIAL, INCIDENTAL,
                            OR CONSEQUENTIAL DAMAGES OF ANY KIND, INCLUDING DAMAGES FOR LOST PROFITS, LOSS
                            OF GOODWILL, WORK STOPPAGE, ACCURACY OF RESULTS, OR FAILURE OR MALFUNCTION OF
                            ANY DEVICE CONNECTED TO THE SERVICES, OR (B) ANY AMOUNT, IN THE AGGREGATE, IN
                            EXCESS OF THE GREATER OF (I) $100 OR (II) THE AMOUNTS PAID BY YOU TO SIMPALTEK
                            IN CONNECTION WITH THE SERVICES IN THE TWELVE (12) MONTH PERIOD PRECEDING THE
                            APPLICABLE CLAIM, OR (C) ANY MATTER BEYOND OUR REASONABLE CONTROL. SOME STATES
                            DO NOT ALLOW THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES, SO THE ABOVE
                            LIMITATION AND EXCLUSIONS MAY NOT APPLY TO YOU.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                        <b>
                            <span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                Risk of Loss;
                                Insurance
                            </span>
                        </b>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            YOU ACKNOWLEDGE AND AGREE THAT YOUR USE OF THE
                            SERVICES (INCLUDING, WITHOUT LIMITATION, USING THE SERVICES TO SECURE OR
                            OTHERWISE CONTROL ACCESS TO ANY REAL OR PERSONAL PROPERTY) IS SOLELY AT YOUR
                            OWN RISK, AND THAT YOU ACCEPT RESPONSIBILITY FOR ALL LOSSES, DAMAGES, AND
                            EXPENSES ARISING OUT OF SUCH USE. SIMPALTEK IS NOT AN INSURER. YOU ARE
                            RESPONSIBLE FOR MAINTAINING INSURANCE COVERING ALL LOSS, DAMAGE, OR EXPENSE,
                            WHETHER FOR PROPERTY DAMAGE, PERSONAL INJURY (INCLUDING DEATH), ECONOMIC
                            LOSSES, OR ANY OTHER FORM OF LOSS, DAMAGE, OR EXPENSE ARISING OUT OF OR FROM
                            (I) THESE TERMS, OR (II) THE SERVICES.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">Indemnity</span></b></p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            You agree to indemnify and hold SIMPALTEK, its
                            affiliates, officers, agents, employees, and partners harmless for and against
                            any and all claims, liabilities, damages (actual and consequential), losses,
                            and expenses (including attorneys&#39; fees) arising from or in any way related to
                            any third-party claims relating to (a) your use of the Services (including any
                            actions taken by a third-party using your account), and (b) your violation of
                            these Terms. In the event of such a claim, suit, or action (&quot;Claim&quot;),
                            we will provide notice of the Claim to the contact information we have for your
                            account (provided that failure to deliver such notice shall not eliminate or
                            reduce your indemnification obligations hereunder).
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">Assignment</span></b></p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            You may not assign, delegate, or transfer
                            these Terms or your rights or obligations hereunder, or your Services account,
                            in any way (by operation of law or otherwise) without SIMPALTEK’s prior written
                            consent. We may transfer, assign, or delegate these Terms and our rights and
                            obligations without consent.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal">
                        <b>
                            <span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                                Choice of Law;
                                Arbitration
                            </span>
                        </b>
                    </p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            These Terms are governed by and will be
                            construed under the laws of the State of Texas, without regard to the conflicts
                            of laws’ provisions thereof. Any dispute arising from or relating to the
                            subject matter of these Terms shall be finally settled in Collin County, Texas,
                            in English, in accordance with the Streamlined Arbitration Rules and Procedures
                            of Judicial Arbitration and Mediation Services, Inc. (&quot;JAMS&quot;), then
                            in effect, by one commercial arbitrator, who shall be selected from the
                            appropriate list of arbitrators in accordance with those procedures. Judgment
                            upon the award rendered by such arbitrator may be entered in any court of
                            competent jurisdiction. Notwithstanding the foregoing obligation to arbitrate
                            disputes, each party shall have the right to pursue injunctive or other
                            equitable relief at any time, from any court of competent jurisdiction. For all
                            purposes of this Agreement, the parties consent to exclusive jurisdiction and
                            venue in the state or federal courts located in, respectively, Collin County, Texas.
                        </span>
                    </p>

                    <p style="margin-bottom:0in;margin-bottom:.0001pt;line-height:normal"><b><span style="font-size:13.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">Miscellaneous</span></b></p>

                    <p style="margin-bottom:12.0pt;line-height:15.6pt">
                        <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#333333">
                            You will be responsible for withholding,
                            filing, and reporting all taxes, duties, and other governmental assessments
                            associated with your activity in connection with the Services. The failure of
                            either you or us to exercise, in any way, any right herein shall not be deemed
                            a waiver of any further rights hereunder. You and SIMPALTEK agree that this
                            agreement is the complete set of understanding between both parties and that it
                            supersedes and cancels all previous written and oral agreements,
                            communications, and other understandings relating to the subject matter of
                            these Terms. No agency, partnership, joint venture, or employment is created as
                            a result of these Terms and you do not have any authority of any kind to bind SIMPALTEK
                            in any respect whatsoever. Except as expressly set forth in the section above
                            regarding the Apple Application, you and SIMPALTEK agree there are no
                            third-party beneficiaries intended under this Agreement.
                        </span>
                    </p>

                    <p> </p>

                    <p> </p>

                </div>

            </div>


        </div>
    </ion-content>
</ion-modal-view>