<ion-view view-title="Users">
	<ion-nav-bar class="bar-stable">
      
    </ion-nav-bar>
    <ion-content class="padding">
    	<div class="row">
        	<div class="col col-50 nexx-user">
            	<h2 class="title">Scott</h2>
            </div>
            <div class="col col-50 nexx-user">
            	<a href="" class="button button-block button-positive">Remove</a>
            </div>
        </div>
        <div class="row">
        	<div class="col col-50 nexx-user">
            	<h2 class="title">Cris</h2>
            </div>
            <div class="col col-50 nexx-user">
            	<a href="" class="button button-block button-positive">Remove</a>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-stable">
    	<div class="row">
        	<div class="col col-50">
            	<div class="title nexx-title"><a class="nexx-back" href="#/app/home"><img src="img/back-arrow.svg" alt="Back"></a></div>
            </div>
            <div class="col col-50">
            	<div class="title nexx-title"><a class="nexx-back" href="#/adduser"><img src="img/add.svg" alt="Back"></a></div>
            </div>
        </div>
    </div>
</ion-view>
