<ion-view view-title="BG Geolocation">
  <ion-nav-buttons side="left">
    <a class="button button-clear button-positive" ng-click="onClickSettings()">Settings</a>
  </ion-nav-buttons>
  
  <ion-nav-buttons side="right"> 
    <label class="toggle toggle-balanced">
       <input type="checkbox" ng-click="onToggleEnabled()" ng-model="state.enabled">
       <div class="track">
         <div class="handle"></div>
       </div>
    </label>
  </ion-nav-buttons>

  <ion-content scroll="false" data-tap-disabled="true">
    <div id="map"></div>
  </ion-content>

  <ion-footer-bar class="bar-stable">
    <a ng-click="getCurrentPosition()" class="button button-icon icon ion-navigate"></a>
    <h1 class="title" style="text-align:center">{{odometer}}km</h1>
    <div class="buttons align-right">
      <ion-spinner icon="ios-small" class="" ng-show="isChangingPace"></ion-spinner>
      <button class="button icon {{state.startButtonIcon}}" ng-disabled="!state.enabled" ng-click="onClickChangePace()" style="width:75px"></button>
    </div>
  </ion-footer-bar>
</ion-view>
