<ion-view title="HTTP URL" class="settings-values">
	<ion-nav-buttons side="right"> 
	  <button class="button button-positive button-clear" ng-click="onClickDone()">Done</button>
	</ion-nav-buttons>

	<ion-content class="">
	  <label class="item item-input">
	    <input type="text" placeholder="URL" ng-model="getConfig()[this.getSelectedSetting().name]">
	  </label>
	</ion-content>
</ion-view>