<ion-view title="triggerActivities" class="settings-values">
  <ion-nav-buttons side="right"> 
    <button class="button button-positive button-clear" ng-click="onClickDone()">Done</button>
  </ion-nav-buttons>
  <ion-content class="">
    <div class="list">
      <pre>{{config.getTriggerActivities()}}</pre>
      <ion-checkbox ng-model="getTriggerActivities().on_foot" ng-checked="getTriggerActivities().on_foot" class="checkbox-positive">
        on_foot {{triggerActivities.on_foot}}
      </ion-checkbox>
      <ion-checkbox ng-model="getTriggerActivities().walking" ng-checked="getTriggerActivities().walking" class="checkbox-positive">
        walking
      </ion-checkbox>
      <ion-checkbox ng-model="getTriggerActivities().in_vehicle" ng-checked="getTriggerActivities().in_vehicle" class="checkbox-positive">
        in_vehicle
      </ion-checkbox>
      <ion-checkbox ng-model="getTriggerActivities().on_bicycle" ng-checked="getTriggerActivities().on_bicycle" class="checkbox-positive">
        on_bicycle
      </ion-checkbox>
      <ion-checkbox ng-model="getTriggerActivities().running" ng-checked="getTriggerActivities().running" class="checkbox-positive">
        running
      </ion-checkbox>            
    </div>
  </ion-content>
</ion-view>