﻿/* Empty. Add your own CSS if you like */

#map {
  display: block;
  width: 100%;
  height: 100%;
}
/*.scroll {
  height: 100%;
}*/

/**
* Blue colored ion-radio
*/
.item-radio.radio-positive .radio-icon{
  color: #387EF5;
  font-size: 20px;
}

.settings .item-divider {
	padding-top: 1em;
}
.settings .item .current-value {
	position: absolute;
	right: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.settings .item .current-value.setting-url {
	width: 75%;
}
.settings .item .current-value.setting-triggerActivities {
	font-size: 12px;
}
/**
* Hide chevron in ion-item when field is a checkbox
*/
.settings .item.setting-type-checkbox[ng-click] .item-content:after {
	display: none;
}


.settings-values .item-radio input:checked ~ .item-content {
	background-color: #fff;
}

/**
* Google maps current location pulsate
*/
/**
* Pulsate current location map-marker
*/
@-moz-keyframes pulsate {
    from {
        -moz-transform: scale(0.25);
        opacity: 1.0;
    }
    95% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
    to {
        -moz-transform: scale(0.3);
        opacity: 0;
    }
}
@-webkit-keyframes pulsate {
    from {
        -webkit-transform: scale(0.25);
        opacity: 1.0;
    }
    95% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(0.3);
        opacity: 0;
    }
}
/**
* get the container that's just outside the marker image, 
* which just happens to have our Marker title in it 
*/
map div.gmnoprint[title="Current Location"] {
    -moz-animation: pulsate 1.5s ease-in-out infinite;
    -webkit-animation: pulsate 1.5s ease-in-out infinite;
    border:1pt solid #fff;
    /* make a circle */
    -moz-border-radius:51px;
    -webkit-border-radius:51px;
    border-radius:51px;
    /* multiply the shadows, inside and outside the circle */
    -moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
    -webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
    box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
    /* set the ring's new dimension and re-center it */
    height:51px!important;
    margin: -3px -3px -3px -3px;
    width:51px!important;
}
