/* Empty. Add your own CSS if you like */
/*.row {
    margin-top: 40px;
    margin-bottom: 80px;
}

.my-slider {
    width: 100%;
    max-width: 600px;
    height: 300px;
    font-size:0;
}
.my-slider li {
    font-size:30px;
    position:relative;
    background-size: 100%;
    background-repeat: no-repeat;
}
.my-slider .debug {
    position: absolute;
    bottom: 0;
    height: 50px;
    background: rgba(0,0,0,0.7);
    color:white;
    font-size: 12px;
    width: 100%;
    padding: 5px;
}
.my-slider.standard li {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.my-slider.nested {
    width: 300px;
    height: 200px;
}
.my-slider.nested li {
    padding: 10px;
}
.my-slider.nested {
    width: 300px;
    height: 200px;
}
.my-slider.nested li {
    padding: 10px;
}
.big {
    margin-top: 30px;
    width: 100%;
    font-size: 30px;
}
.controls {
    margin-top: 5px;
    width: 450px;
    text-align: center;
}
.thumbs {
    width: 450px;
    text-align:center;
}
.thumb {
    display: inline-block;
    background-size:cover;
    border: 1px solid transparent;
    margin: 2px 4px;
    width: 60px;
    height: 40px;
    transition: border 0.2s ease-in;
}
.is-active {
    border: 1px solid red;
}
.details {
    color:white;
    font-size: 12px;
    margin-bottom: 10px;
}

#multiple-images-slider {
    max-width: none;
}

#multiple-images-slider [class^="col-"] {
    padding: 0;
}

#vertical-slider {
    height: 350px;
}

#show-next-slider li {
    background-size: 98%;
    background-repeat: no-repeat;
}*/

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 20px;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}
.fade-bar {
    height: 22px;
    width: 100%;
    position: fixed;
    z-index: 9999;
    /*opacity: 0;*/
    background-color: #f8f8f8;
}

/* override default controls */
.rn-carousel-control {
    color:white;
    text-shadow: 0 0 5px #000;
}
.rn-carousel-control.rn-carousel-control-prev:before {
  content: "❮";
}
.rn-carousel-control.rn-carousel-control-next:before {
  content: "❯";
}
.item-select select,  .item-select select option{
  left: 10%;
}

.optionList{
    position:absolute;
    width:100%;
    z-index:100;
   /* height:200px;*/
}

.right {
  float: right;
}

.top {
  margin-top: -30px;
}

#notebooks {
  background: whitesmoke;
  position: absolute;
  left: 50%;
  margin-left: -175px;
  margin-top: 35px;
  width: 350px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: inset 1px 1px 0 white;
  max-height: 450px;
}

.button.disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}

.button-cancel {
    background-color: #48484A !important;
    color: white !important;
}

.history-detail{
    font-size: 10pt;
}
/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #cc2311;
}
/*ul {
  margin: 0 auto;
  padding: 0;
  max-height: 390px;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 5px 0 5px;
  border-left: none;
  border-right: none;
}*/

/*li {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.05);
  background-image: 
    linear-gradient(
      90deg,
      #FFD32E 10px,
      #EEE 10px,
      #EEE 11px,
      transparent 11px);
  padding: 10px 15px 10px 25px;
  border: 1px solid #CCC;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
}*/

.ng-cloak
{
  display: none !important;
}

#query {
  width: 100%;
  box-sizing: border-box;
  font-size: 19px;
  padding: 5px;
  font-family: calibri light;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#notebooks span {
  display: block;
  position: absolute;
  background: #FFD32E;
  bottom: -35px;
  left: -1px;
  width: 360px;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}

#notebooks select {
  width: 120px;
  margin-left: 230px;
  margin-top: -45px;
  border-radius: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  padding: 7.5px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

#notebooks select:focus, #query:focus {
  border: 1px solid #FFD32E;
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.1);
  outline: none;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

body, html, #wrapper {
    width: 100%;
    height: 300px
}
#wrapper {
    display: table
}
#main {
    display: table-cell;
    vertical-align: middle;
    text-align:center
}

.step {
      display: inline-block;
      line-height: 1;
      position: relative;
      width: 10%;
    }

    .step i {
      -webkit-transition: opacity .3s;
      -moz-transition: opacity .3s;
      -ms-transition: opacity .3s;
      -o-transition: opacity .3s;
      transition: opacity .3s;
    }

    .step:hover i { opacity: .3; }
    
    .size-12 { font-size: 12px; }
    .size-14 { font-size: 14px; }
    .size-16 { font-size: 16px; }
    .size-18 { font-size: 18px; }
    .size-21 { font-size: 21px; }
    .size-24 { font-size: 24px; }
    .size-32 { font-size: 32px; }
    .size-48 { font-size: 48px; }
    .size-64 { font-size: 64px; }
    .size-96 { font-size: 96px; }

/*********************  Bootstrap style*/
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
    display: block;
    margin-top: 8px;
    text-align: center;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    /*border: 1px solid red;*/
    background-color: #fee;
}

/*input.ng-invalid {
  border: 1px solid red;
}*/



.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/**********************************************************************************************/
.bar .button.button-icon .icon::before, .bar .button.button-icon::before, .bar .button.button-icon.icon-left::before, .bar .button.button-icon.icon-right::before, .bar button.button-icon .icon::before, .bar button.button-icon::before, .bar button.button-icon.icon-left::before, .bar button.button-icon.icon-right::before{
	font-size:24px;
}
.nexx-stable{
	top:44px !important;
}
.companylogo{
	color: lightgreen;
    font-size: 22px;
    font-weight: bold;
    height: 44px;
	line-height:44px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.scroll-content {
    padding-bottom: 100px !important;
}
.main-view{
	height:calc(100% - 44px);
}
body{
	padding-top:44px;
}
.scroll {
    height:100%;
}
#map {
    width: 100%;
    height:250px;
}
a{
	color:#1b9af7;
	text-decoration:none;
}
a:hover, a:focus, a:active{
	color:#1b9af7;
	text-decoration:none;
}
.bar-stable .button.button-clear{
	color:#1b9af7;
}
.bar.bar-balanced, .badge.badge-balanced{
	background-color:#66cc33;
}
.button.button-block{
	border-radius:8px;
	margin-bottom:0;
}
.button.button-positive, .button.button-positive.activated{
    background-color: #66cc33;
    border-color: transparent;
    color: #fff;
}

.card, .list-inset{
	margin-left:20px;
	margin-right:20px;
}
.item.nexx-image{
	border-width:0;
	margin-bottom:20px;
}
.item.item-image .logo-image{
	width:245px;
}

.item.item-image .logo-image-disable{
    background-color:#49e845;
	height:145px;
	width:145px;
	border-radius:200px;
	display:inline-block;
	margin-bottom:20px;
	line-height:60px;
	color:white;
	opacity: 0.65; 
  cursor: not-allowed;
}

.list-inset .item.item-input input{
	padding-right:16px;
}
.nexx-eye{
	padding-right:20px;
}
.item.nexx-input{
	margin-bottom:10px;
}
.list-inset .item.nexx-input, .list-inset .item.nexx-input:first-child{
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.nexx-row{
	padding:0;
	margin-bottom:20px;
}
.nexx-row .nexx-toggle{
	position:absolute;
}
.nexx-row .nexx-col{
	padding:0;
	line-height:35px;
}
.nexx-row .nexx-line{
	padding-left:55px;
	color:#a09b9a;
}
.nexx-time{
	margin-top:10px;
}
.nexx-content{
	color:#a09b9a;
	margin-bottom:20px;
}
.nexx-terms{
	margin-top:40px;
}
.nexx-subheader .swiper-pagination{
	display:none;
}
.bar.bar-stable .nex-slide-title.title{
	line-height:32px;
	color:#1b9af7;
}
.nexx-home-slider .item.item-image .logo-image{
	width:145px;
}
.nexx-home-slider .slider-pager{
	bottom:10px;
}
.nexx-home-slider .slider-pager-page  .icon{
	font-size:9px;
}
.nexx-open{
	background-color:#49e845;
	height:60px;
	width:60px;
	border-radius:200px;
	display:inline-block;
	margin-bottom:20px;
	line-height:60px;
	color:white;
}

.nexx-open-disable{
    background-color:#49e845;
	height:60px;
	width:60px;
	border-radius:200px;
	display:inline-block;
	margin-bottom:20px;
	line-height:60px;
	color:white;
	opacity: 0.65; 
  cursor: not-allowed;
}

.slider-pager .slider-pager-page {
    color: #1b9af7;
}
.nexx-tabs.tabs {
    color: #1b9af7;
}
.nexx-tabs .tab-item .icon {
    font-size: 24px;
    height: 48px;
}
.nexx-list .item-radio .radio-icon{
	padding:15px;
	font-size:18px;
	 color: #1b9af7;
}
.nexx-back {
    display: inline-block;
    width: 100%;
}
.nexx-back img{
	position:relative;
	width:22px;
	top:5px;
}
.nexx-save img{
	position:relative;
	width:20px;
	top:5px;
}
.button.button-block.nexx-set-home{
	margin:-2px;
	padding:0;
}
.nexx-feet{
	line-height:44px;
	color:#a09b9a;
}
.bar .title.nexx-title{
	position:relative;
	top: -15px;
}
.nexx-user .title{
	 color: #1b9af7;
}
.nexx-user .title, .nexx-user .button{
	font-size: 16px;
    height: 30px;
    line-height: 28px;
    margin: 0;
    min-height: 32px;
}
.nexx-history .item li:first-child p{
	margin:0;
}
.nexx-arrow.button{
	background-color:transparent;
}
.nexx-arrow.button .icon:before{
	font-size:12px;
}

.nexx-alerts-top li, .nexx-alerts-content li{
	width:23%;
	display:inline-block;
	color:#a09b9a;
	font-size:14px;
	text-align:center;
}
.nexx-alerts-content li{
	margin-top:10px;

}
.nexx-alerts-content li:first-child{
	position: relative;
    top: -10px;
}
.nexx-checkbox.item-checkbox{
	/*padding-left:inherit;
	border-width:0;*/
	
	border-width: 0;
    padding: 0;
}
.nexx-checkbox.item-checkbox .checkbox{
    height: 50px;
    left: 0;
    padding: 12px 0 0;
    position: relative;
    top: 12px;
}
.button.button-positive.icon-left {
    line-height: 34px;
}
.button.button-positive.icon-left::before{
    left: -2px;
    position: relative;
    top: -2px;
}

.nexx-home-slider.slider {
    padding-top: 60px;
}
.bar.bar-stable .title.nexx-carousel-title, .rn-carousel-control{
	color: #1b9af7;
}
.rn-carousel-controls .rn-carousel-control{
	position:absolute;
	padding:11px;
	top:0;
}
.rn-carousel-controls .rn-carousel-control.rn-carousel-control-prev{
	left:0;
}
.rn-carousel-controls .rn-carousel-control.rn-carousel-control-next{
	right:0;
}

.custom-icon {
  color : #66cc33;
}